<mat-card>
  <mat-card-title>Agregar experiencia laboral</mat-card-title>
  <form>
    <mat-label>¿Labora en el área que se graduó?:</mat-label>
    <mat-radio-group [formControl]="Labora_Area" required>
      <mat-radio-button value="true">Si</mat-radio-button>
      <mat-radio-button value="false">No</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="Labora_Area.hasError('required')">Seleccione si labora en el área.</mat-error>
    <div class="row card-layout">
      <div class="card-column-1">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Categoria</mat-label>
          <mat-select [formControl]="NombreCategoria" required>
            <mat-option [value]="item" *ngFor="let item of categoria">{{item}}</mat-option>
          </mat-select>
          <mat-error *ngIf="NombreCategoria.hasError('required')">Seleccione la categoria.</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column-2">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Sector</mat-label>
          <mat-select [formControl]="Sector" required>
            <mat-option value="publico">Público</mat-option>
            <mat-option value="privado">Privado</mat-option>
            <mat-option value="mixto">Mixto</mat-option>
          </mat-select>
          <mat-error *ngIf="Sector.hasError('required')">Selccione el sector.</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column-3">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Cargo que desempeña</mat-label>
          <input matInput [formControl]="Cargo" type="text" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]{1,50}" required>
          <mat-error *ngIf="Cargo.hasError('pattern')">El campo solo debe contener letras con un máximo de 50 caracteres.</mat-error>
          <mat-error *ngIf="Cargo.hasError('required')">Ingrese su cargo.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row card-layout">
      <div class="card-column-1">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Rango salarial</mat-label>
          <mat-select [formControl]="RangoSalario" required>
            <mat-option [value]="item" *ngFor="let item of rangoSalarial">{{item}}</mat-option>
          </mat-select>
          <mat-error *ngIf="RangoSalario.hasError('required')">Seleccione el rango salarial.</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column-2">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Tipo de contrato</mat-label>
          <mat-select [formControl]="TipoContrato" required>
            <mat-option [value]="item" *ngFor="let item of tipoContrato">{{item}}</mat-option>
          </mat-select>
          <mat-error *ngIf="TipoContrato.hasError('required')">Seleccione el tipo de su contrato.</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column-3">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <input matInput [max]="maxDate" [matDatepicker]="picker1" placeholder="Fecha Inicio" [formControl]="fechaInicio" required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="fechaInicio.hasError('required')">Seleccione la fecha de inicio.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-card-title>Datos empresa</mat-card-title>
    <div class="row card-layout">
      <div class="card-column-1">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>País</mat-label>
          <mat-select [formControl]="Pais" (selectionChange)="obtenerDepartamento()" required>
            <mat-option *ngFor="let pais of paises" [value]="pais.id_aut_pais">{{pais.nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="Pais.hasError('required')">Seleccione el país.</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column-2">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Departamento</mat-label>
          <mat-select [formControl]="Departamento" (selectionChange)="obtenerCiudad()" required>
            <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id_aut_dep"> {{departamento.nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="Departamento.hasError('required')">Seleccione el departamento.</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column-3">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Ciudad</mat-label>
          <mat-select [formControl]="Ciudad" required>
            <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.id_aut_ciudad">{{ciudad.nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="Ciudad.hasError('required')">Seleccione la ciudad.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row card-layout">
      <div class="card-column-1">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Nombre de la empresa</mat-label>
          <input matInput [formControl]="NombreEmpresa" type="text" required>
          <mat-error *ngIf="NombreEmpresa.hasError('required')">Ingrese el nombre de la empresa.</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column-2">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Dirección de lugar de trabajo</mat-label>
          <input matInput [formControl]="DirTrabajo" required>
          <mat-error *ngIf="DirTrabajo.hasError('required')">Ingrese la dirección de trabajo.</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column-3">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Teléfono/Celular de lugar de trabajo</mat-label>
          <input matInput [formControl]="TelTrabajo" pattern="[0-9]{7,10}" required>
          <mat-error *ngIf="TelTrabajo.hasError('pattern')">Número inválido</mat-error>
          <mat-error *ngIf="TelTrabajo.hasError('required')">Ingrese el teléfono/celular del trabajo</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="botones">
      <button (click)="cancelar()" mat-raised-button class="btn btn-danger">Cancelar</button>
      <button color="primary" (click)="guardarExperienciaLaboral()" mat-raised-button>Agregar</button>
    </div>
  </form>
</mat-card>