<h1 mat-dialog-title>PREVIZUALACIÓN</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-6">
          <label class="col-sm-3 col-form-label">Nombre de la empresa</label>
    </div>
    <div class="col-6">
          <label class="col-sm-3 col-form-label">{{data.nombreOferta}}</label>
    </div>

  </div>
  <div class="row">
    <div class="col-6">
          <label class="col-sm-3 col-form-label">nombre del
cargo/Perfil requerido</label>
    </div>
    <div class="col-6">
          <label class="col-sm-3 col-form-label">{{data.nombreOferta}}</label>
    </div>

  </div>
  <div class="row">
    <div class="col-6">
          <label class="col-sm-3 col-form-label">N° de vacantes</label>
    </div>
    <div class="col-6">
          <label class="col-sm-3 col-form-label">{{data.numVacantes}}</label>
    </div>
  </div>
   <div class="row">
    <div class="col-6">
          <label class="col-sm-3 col-form-label">Tipo de cargo</label>
    </div>
    <div class="col-6">
          <label class="col-sm-3 col-form-label">{{data.tipoCargo}}</label>
    </div>
   </div>
    <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Area</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Sector de la oferta</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3 col-form-label">{{data.sectorOferta}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Nombre de la
empresa a figurar</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Descripcion de la
oferta de trabajo</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Tipo de contrato</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3 col-form-label">{{data.tipoTrabajo}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Duración del contrato</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Jornada laboral</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Horario</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Forma de pago
salariales</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Rango salariales</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Salario
comentarios(comisones/incentivos)</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">¿Cuál es el perfil
que busca?</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Experiencia laboral</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Estudios minímos</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Requisitos minímos</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
  </div>
<div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Dispone de
movilización propia</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
</div>
<div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Licencia de
conducción</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Preguntas del
candidato</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Persona con
discapacidad</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Ubicación de la
oferta</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">E-mail recepción Hvs</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Contacto</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Teléfono</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
  <div class="row">
      <div class="col-6">
            <label class="col-sm-3 col-form-label">Días de vigencia de
la oferta</label>
      </div>
      <div class="col-6">
            <label class="col-sm-3
          col-form-label">{{data.areaConocimiento}}</label>
      </div>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal"
cdkFocusInitial>Ok</button>
</div>