<h1  class="mat-dialog-title">Previsualización</h1>
<div mat-dialog-content>
            <div class="row">
                        <div class="col-12">
                              <h5>Información principal</h5>
                        </div>
                  </div>
      <div class="row">
            <div class="col-12">
                  <label><Strong>Nombre del cargo/Perfil requerido: </Strong>{{datosOferta.informacionPrincipal.nombreOferta}}</label>
            </div>
      </div>
      <div class="row">
                  <div class="col-sm-12 col-md-6">
                        <label><Strong>N° de Vacantes: </Strong>{{datosOferta.informacionPrincipal.numVacantes}}</label>
                  </div>
                  <div class="col-sm-12 col-md-6">
                              <label><Strong>Tipo de cargo: </Strong>{{datosOferta.informacionPrincipal.cargo}}</label>
                  </div>
      </div>
      <div class="row">
                  <div class="col-sm-12 col-md-6">
                              <label><Strong>Area(s): </Strong>{{datosOferta.informacionPrincipal.areas}}</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                                    <label><Strong>Sector de la oferta: </Strong>{{datosOferta.informacionPrincipal.sector}}</label>
                        </div>
      </div>
      <div class="row">
                  <div class="col-12">
                        <label><Strong>Nombre de la empresa a figurar: </Strong>
                        <label *ngIf="datosOferta.informacionPrincipal.nombreTempEmpresa === null; else nombreEmpresa">No incluido</label>
                              <ng-template #nombreEmpresa>{{datosOferta.informacionPrincipal.nombreTempEmpresa}}</ng-template>
                        </label>
                  </div>
      </div>
      <div class="row">
                  <div class="col-sm-12 col-md-12">
                        <label><Strong>Descripción de la oferta de trabajo</Strong></label>
                  </div>
                  <div class="col-sm-12 col-md-12">
                              <mat-form-field class="labelCompleto" appearance="outline" >
                                          <textarea  matInput disabled value="{{datosOferta.informacionPrincipal.descripcion}}" rows="3"></textarea>
                                  </mat-form-field>
                  </div>
      </div>
      <div class="row">
                  <div class="col-12">
                        <h5>Información de contrato</h5>
                  </div>
            </div>
      <div class="row">
                  <div class="col-sm-12 col-md-6">
                              <label><Strong>Tipo de contrato: </Strong>{{datosOferta.contrato.tipoContrato}}</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                                    <label><Strong>Duración de contrato: </Strong>
                                          <label *ngIf="datosOferta.contrato.duracion === null; else contrato">No incluido</label>
                                          <ng-template #contrato>{{datosOferta.contrato.duracion}}</ng-template>
                                    </label>
                        </div>
      </div>
      <div class="row">
                  <div class="col-sm-12 col-md-6">
                              <label><Strong>Jornada laboral: </Strong>{{datosOferta.contrato.jornada}}</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                                    <label><Strong>Horario: </Strong>
                                          <label *ngIf="datosOferta.contrato.horario === null; else horario">No incluido</label>
                                          <ng-template #horario>{{datosOferta.contrato.horario}}</ng-template>
                                    </label>
                        </div>
      </div>
      <div class="row">
                  <div class="col-sm-12 col-md-6">
                              <label><Strong>Forma pago salarios: </Strong>{{datosOferta.contrato.formaPago}}</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                                    <label><Strong>Rangos salariales: </Strong>
                                          <label *ngIf="datosOferta.contrato.rangoSalarial === null; else rangoSalarial">No incluido</label>
                                          <ng-template #rangoSalarial>{{datosOferta.contrato.rangoSalarial}}</ng-template>
                                    </label>
                        </div>
      </div>
      <div class="row">
                  <div class="col-sm-12 col-md-12" *ngIf="datosOferta.contrato.comentariosSalario === null; else comentariosSalario">
                              <label><Strong>Comentarios salarios:</Strong> No incluido</label>
                  </div>
                  <ng-template #comentariosSalario>
                              <div class="col-sm-12 col-md-12">
                                          <label><Strong>Comentarios salarios</Strong></label>
                              </div>
                                    <div class="col-sm-12 col-md-12" >
                                                <mat-form-field  class="labelCompleto" appearance="outline" >                                          
                                                           <textarea  matInput disabled value="{{datosOferta.contrato.comentariosSalario}}" rows="3"></textarea>
                                                </mat-form-field>
                                    </div>
                  </ng-template>
      </div>
      <div class="row">
                  <div class="col-12">
                        <h5>Requisitos</h5>
                  </div>
            </div>
      <div class="row">
                  <div class="col-12">
                              <label><Strong>Perfil buscado: </Strong>{{datosOferta.requisitos.perfil}}</label>
                        </div>
      </div>
      <div class="row">
            <div class="col-sm-12 col-md-6">
                        <label><Strong>Estudio minimo: </Strong>{{datosOferta.requisitos.estudioMinimo}}</label>
                  </div>
            <div class="col-sm-12 col-md-6">
                  <label><Strong>Carrera(s): </Strong>{{datosOferta.requisitos.programas}}</label>
            </div>
      </div>
      <div class="row">
                  <div class="col-sm-12 col-md-6">
                              <label><Strong>Experiencia laboral: </Strong>{{datosOferta.requisitos.experienciaLaboral}} {{datosOferta.requisitos.anios}} años</label>
                        </div>

      </div>
      <div class="row" *ngIf="datosOferta.requisitos.idiomas.length == 0; else idiomas">
                  <div class="col-12">
                              <label><Strong>No se requieren idiomas </Strong></label>
                  </div>
      </div>
      <ng-template #idiomas>
            <mat-card>
                  <mat-card-header>
                              <mat-card-title>Idiomas</mat-card-title>
                        </mat-card-header>
                  <mat-card-content>
                        <mat-accordion>
                                    <!--Lista desplegable-->
                                    <mat-expansion-panel *ngFor="let idioma of datosOferta.requisitos.idiomas">
                                    <mat-expansion-panel-header>
                                          <mat-panel-title>
                                                {{ idioma.nombre }}
                                          </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <!--Contenido-->
                                    <div class="row">
                                                <div class="col-sm-12 col-md-4">
                                                            <label><Strong>Lectura: </Strong>{{idioma.nivel_lectura}}</label>
                                                      </div>
                                                      <div class="col-sm-12 col-md-4">
                                                                  <label><Strong>Escritura: </Strong>{{idioma.nivel_escritura}}</label>
                                                      </div>
                                                      <div class="col-sm-12 col-md-4">
                                                            <label><Strong>Conversación: </Strong>{{idioma.nivel_conversacion}}</label>
                                                </div>
                                          </div>
                                    <!--Fin contenido-->
                                    </mat-expansion-panel>
                                    <!--Fin Lista desplegable-->
                        </mat-accordion>
                  </mat-card-content>
            </mat-card>
      </ng-template>
      <div class="row mt-2" *ngIf="datosOferta.requisitos.softwareOferta.length == 0; else softwares">
                  <div class="col-12">
                              <label><Strong>No se requieren softwares </Strong></label>
                  </div>
      </div>
      <ng-template #softwares>
            <mat-card>
                        <mat-card-header>
                                    <mat-card-title>Softwares</mat-card-title>
                              </mat-card-header>
                        <mat-card-content>
                              <mat-accordion>
                                          <!--Lista desplegable-->
                                          <mat-expansion-panel *ngFor="let software of datosOferta.requisitos.softwareOferta">
                                          <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                      {{ software.nombre }}
                                                </mat-panel-title>
                                          </mat-expansion-panel-header>
                                          <!--Contenido-->
                                          <div class="row">
                                                      <div class="col-4">
                                                                  <label><Strong>Nivel: </Strong>{{software.nivel}}</label>
                                                            </div>
                                          </div>
                                          <!--Fin contenido-->
                                          </mat-expansion-panel>
                                          <!--Fin Lista desplegable-->
                              </mat-accordion>
                        </mat-card-content>
            </mat-card>
      </ng-template>
      <div class="row mt-4">
                  <div class="col-sm-12 col-md-12">
                        <label><Strong>Requisitos mínimos</Strong></label>
                  </div>
                  <div class="col-sm-12 col-md-12">
                              <mat-form-field class="labelCompleto"  appearance="outline" >
                                          <textarea  matInput disabled value="{{datosOferta.requisitos.requisitosMinimos}}" rows="3"></textarea>
                                  </mat-form-field>
                  </div>
      </div>
      <div class="row">
                  <div class="col-12" *ngIf="datosOferta.requisitos.movilizacionPropia == 0; else movilizacionPropia">
                              <label><Strong>Dispone de movilización propia: </Strong>No</label>
                        </div>
                        <ng-template #movilizacionPropia>
                                    <div class="col-12">
                                                <label><Strong>Dispone de movilización propia: </Strong>Si</label>
                                          </div>
                        </ng-template>
      </div>
      <div class="row">
                  <div class="col-12">
                              <label><Strong>Licencia de conducción: </Strong>{{datosOferta.requisitos.licenciaConduccion}}</label>
                        </div>
      </div>

      <div class="row" *ngIf="datosOferta.requisitos.preguntasCandidato.length == 0; else preguntasCandidato">
                  <div class="col-12">
                              <label><Strong>No se requieren preguntas al candidato </Strong></label>
                  </div>
      </div>
      <ng-template #preguntasCandidato>
            <mat-card>
                        <mat-card-header>
                                    <mat-card-title>Preguntas</mat-card-title>
                              </mat-card-header>
                  <mat-card-content>
                              <mat-list>
                                    <div class="row" *ngFor="let pregunta of datosOferta.requisitos.preguntasCandidato">
                                          <div class="col-12 tamFontList">
                                                      <label>{{pregunta}}</label>
                                                      <mat-divider></mat-divider>
                                          </div>

                                    </div>
                                    </mat-list>
                  </mat-card-content>
            </mat-card>
      </ng-template>
       <div class="row mt-4">
                  <div class="col-sm-12 col-md-6">
                              <label><Strong>Personas con discapacidad: </Strong>
                                    <label *ngIf="datosOferta.requisitos.discapacidades === null;else discapacidad">No</label>
                                    <ng-template #discapacidad>
                                          Sí
                                    </ng-template>
                        </label>
                  </div>
                  <div class="col-sm-12 col-md-6" *ngIf="datosOferta.requisitos.discapacidades !== null">
                              <label><Strong>Discapacidad(es): </Strong>{{datosOferta.requisitos.discapacidades}}</label>
                  </div>
      </div>
      <mat-card>
            <mat-card-header>
                  <mat-card-title>Ubicaciones</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                        <mat-list>
                              <div *ngFor="let ubicacion of datosOferta.informacionPrincipal.ubicaciones">
                                          <div class="row tamFontList">
                                                      <div class="col-sm-12 col-md-4">
                                                            <label><Strong>País: </Strong> {{ubicacion.pais}}</label>
                                                      </div>
                                                      <div class="col-sm-12 col-md-4">
                                                            <label><Strong>Departamento: </Strong> {{ubicacion.departamento}}</label>
                                                      </div>
                                                      <div class="col-sm-12 col-md-4">
                                                            <label><Strong>Ciudad: </Strong> {{ubicacion.ciudad}}</label>
                                                      </div>
                                          </div>
                                    <mat-divider></mat-divider>
                              </div>
                        </mat-list>
            </mat-card-content>
      </mat-card>
      <div class="row mt-4">
                  <div class="col-12">
                        <h5>Información HVs</h5>
                  </div>
            </div>
      <div class="row mt-2">
                  <div class="col-12">
                              <label><Strong>E-mail recepción Hvs: </Strong>{{datosOferta.contactoHV.correo}}</label>
                        </div>
      </div>
      <div class="row">
            <div class="col-sm-12 col-md-6">
                        <label><Strong>Nombres: </Strong>{{datosOferta.contactoHV.nombres}}</label>
                  </div>
                  <div class="col-sm-12 col-md-6">
                              <label><Strong>Apellidos: </Strong>{{datosOferta.contactoHV.apellidos}}</label>
                  </div>
            </div>
      <div class="row">
                  <div class="col-12">
                              <label><Strong>Teléfono: </Strong>{{datosOferta.contactoHV.telefonoMovil}}</label>
                        </div>
      </div>
      <div class="row">
                  <div class="col-12">
                              <label><Strong>Días de vigencia de la oferta: </Strong>{{datosOferta.informacionPrincipal.vigenciaDias}}</label>
                        </div>
      </div>
</div>
<!--Verifica si el dialog fue invocado desde la creacion o la modificacion de oferta-->
<div *ngIf="datos.crear" mat-dialog-actions align="end">
  <button color="primary" mat-button mat-dialog-close>Volver a modificar</button>
  <button type="button" mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Crear oferta</button>
</div>
<div *ngIf="datos.crear==false" mat-dialog-actions align="end">
  <button color="primary" mat-button mat-dialog-close>Cerrar</button>
  <button type="button" mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Modificar</button>
</div>
