<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Registrar evento
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #addEventForm="ngForm" (submit)="onSave(addEventForm)">
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-group col-md-9">
            <mat-label>Nombre</mat-label>
            <input
              type="text"
              name="nombre"
              ngModel
              matInput
              #nombre="ngModel"
              required
              placeholder="Nombre"
              notOnlyNumbers
            />
            <mat-error
              *ngIf="
                nombre.invalid && nombre.touched && nombre.hasError('required')
              "
            >
              Campo requerido
            </mat-error>
            <mat-error
              *ngIf="
                nombre.invalid &&
                nombre.touched &&
                nombre.hasError('notOnlyNumbers')
              "
            >
              Este campo no acepta solo números
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group col-md-3">
            <mat-label>Cupos</mat-label>
            <input
              type="number"
              name="cupos"
              [(ngModel)]="cantidadCupos"
              matInput
              #cupos="ngModel"
              required
              placeholder="Cupos"
              min="1"
              (change)="onCuposChange()"
            />
            <mat-error
              *ngIf="
                cupos.invalid && cupos.touched && cupos.hasError('required')
              "
            >
              Campo requerido
            </mat-error>
            <mat-error
              *ngIf="cupos.invalid && cupos.touched && cupos.hasError('min')"
            >
              La cantidad de cupos debe ser mayor a cero
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-group col-md-6">
            <mat-label>Fecha de inicio</mat-label>
            <input
              matInput
              [matDatepicker]="fechaInicioPicker"
              placeholder="Fecha de inicio"
              [(ngModel)]="dateControl.minDate"
              #fechaInicio="ngModel"
              required
              (dateChange)="
                dateControl.onMinDateSelect(); errorEnHora(addEventForm)
              "
              name="fechaInicio"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fechaInicioPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #fechaInicioPicker></mat-datepicker>
            <mat-error
              *ngIf="
                fechaInicio.invalid &&
                fechaInicio.touched &&
                fechaInicio.hasError('required')
              "
            >
              Campo requerido
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group col-md-6">
            <mat-label>Fecha de finalización</mat-label>
            <input
              matInput
              [matDatepicker]="fechaFinPicker"
              placeholder="Fecha de finalización"
              [min]="dateControl.minDate"
              [(ngModel)]="dateControl.maxDate"
              #fechaFin="ngModel"
              (dateChange)="
                dateControl.onMaxDateSelect(); errorEnHora(addEventForm)
              "
              required
              name="fechaFin"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fechaFinPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #fechaFinPicker></mat-datepicker>
            <mat-error
              *ngIf="
                fechaFin.invalid &&
                fechaFin.touched &&
                fechaFin.hasError('required')
              "
            >
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>Hora de inicio</mat-label>
            <input
              type="text"
              matInput
              placeholder="05:45"
              ngModel
              #horaInicio="ngModel"
              name="horaInicio"
              required
              pattern="^\d\d:\d\d$"
              hourDomain
              (change)="errorEnHora(addEventForm)"
            />
            <mat-error
              *ngIf="
                horaInicio.errors?.required &&
                horaInicio.invalid &&
                (horaInicio.dirty || horaInicio.touched)
              "
            >
              Campo requerido
            </mat-error>
            <mat-error
              *ngIf="
                horaInicio.errors?.pattern &&
                horaInicio.invalid &&
                (horaInicio.dirty || horaInicio.touched)
              "
            >
              El formato de la hora es HH:MM
            </mat-error>
            <mat-error
              *ngIf="
                horaInicio.hasError('hourDomain') &&
                horaInicio.invalid &&
                (horaInicio.dirty || horaInicio.touched)
              "
            >
              Debe ingresar una hora válida (formato 24 horas)
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>Hora de finalización</mat-label>
            <input
              type="text"
              matInput
              placeholder="05:00"
              ngModel
              #horaFin="ngModel"
              name="horaFin"
              required
              pattern="^\d\d:\d\d$"
              hourDomain
              (change)="errorEnHora(addEventForm)"
            />
            <mat-error
              *ngIf="
                horaFin.errors?.required &&
                horaFin.invalid &&
                (horaFin.dirty || horaFin.touched)
              "
            >
              Campo requerido
            </mat-error>
            <mat-error
              *ngIf="
                horaFin.errors?.pattern &&
                horaFin.invalid &&
                (horaFin.dirty || horaFin.touched)
              "
            >
              El formato de la hora es HH:MM
            </mat-error>
            <mat-error></mat-error>
            <mat-error
              *ngIf="
                horaFin.hasError('hourDomain') &&
                horaFin.invalid &&
                (horaFin.dirty || horaFin.touched)
              "
            >
              Debe ingresar una hora válida (formato 24 horas)
            </mat-error>
            <mat-error
              *ngIf="
                horaFin.hasError('horaInvalida') &&
                horaFin.invalid &&
                (horaFin.dirty || horaFin.touched)
              "
            >
              Solo se permiter horas superiores a la hora de inicio
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="col-md-12 form-group">
            <mat-label>Lugar</mat-label>
            <input
              type="text"
              matInput
              placeholder="Lugar"
              ngModel
              #lugar="ngModel"
              name="lugar"
              required
            />
            <mat-error
              *ngIf="
                lugar.invalid && lugar.touched && lugar.hasError('required')
              "
            >
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-group col-md-12">
            <mat-label>Descripción</mat-label>
            <textarea
              matInput
              name="descripcion"
              ngModel
              #descripcion="ngModel"
              rows="3"
              placeholder="Descripción"
              required
            ></textarea>
            <mat-error
              *ngIf="
                descripcion.invalid &&
                descripcion.touched &&
                descripcion.hasError('required')
              "
            >
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-group col-md-12">
            <mat-label>Dirigido a</mat-label>
            <textarea
              matInput
              placeholder="Dirigido a"
              name="dirigido"
              #dirigido="ngModel"
              ngModel
              rows="3"
              required
            ></textarea>
            <mat-error
              *ngIf="
                dirigido.invalid &&
                dirigido.touched &&
                dirigido.hasError('required')
              "
            >
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <app-egr-file-upload
          class="form-row"
          #fileInput
          [text]="'Agregar imagen'"
          [accept]="'.jpg,.png'"
          [labelText]="'Imagen evento'"
          (importEvent)="importFile($event)"
        ></app-egr-file-upload>

        <mat-card-actions>
          <button
            type="button"
            mat-raised-button
            class="btn btn-danger"
            (click)="onCancelar(addEventForm)"
          >
            Cancelar
          </button>
          <button
            [disabled]="addEventForm.invalid || isSaving"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Guardar
          </button>
          <div
            class="spinner-grow text-danger ml-2 mt-2"
            role="status"
            *ngIf="isSaving"
          >
            <span class="sr-only">Guardando...</span>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
