<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        REGISTRAR EVENTO
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #addEventForm="ngForm" (submit)="onSave(addEventForm)">
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-group col-md-9">
            <input
              type="text"
              name="nombre"
              ngModel
              matInput
              #nombre="ngModel"
              required
              placeholder="Nombre"
            />
            <mat-error
              *ngIf="
                nombre.invalid && nombre.touched && nombre.hasError('required')
              "
            >
              El nombre del evento es requerido
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group col-md-3">
            <input
              type="number"
              name="cupos"
              [(ngModel)]="cantidadCupos"
              matInput
              #cupos="ngModel"
              required
              placeholder="Cupos"
              min="0"
              (change)="onCuposChange()"
            />
            <mat-error
              *ngIf="
                cupos.invalid && cupos.touched && cupos.hasError('required')
              "
            >
              La cantidad de cupos del evento es requerida
            </mat-error>
            <mat-error
              *ngIf="cupos.invalid && cupos.touched && cupos.hasError('min')"
            >
              La cantidad de cupos debe ser mayor a cero
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-group col-md-6">
            <input
              matInput
              [matDatepicker]="fechaInicioPicker"
              placeholder="Fecha de inicio"
              [(ngModel)]="dateControl.minDate"
              #fechaInicio="ngModel"
              required
              (dateChange)="dateControl.onMinDateSelect()"
              name="fechaInicio"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fechaInicioPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #fechaInicioPicker></mat-datepicker>
            <mat-error
              *ngIf="
                fechaInicio.invalid &&
                fechaInicio.touched &&
                fechaInicio.hasError('required')
              "
            >
              Debe seleccionar una fecha de inicio
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group col-md-6">
            <input
              matInput
              [matDatepicker]="fechaFinPicker"
              placeholder="Fecha de finalización"
              [min]="dateControl.minDate"
              [(ngModel)]="dateControl.maxDate"
              #fechaFin="ngModel"
              (change)="dateControl.onMaxDateSelect()"
              required
              name="fechaFin"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fechaFinPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #fechaFinPicker></mat-datepicker>
            <mat-error
              *ngIf="
                fechaFin.invalid &&
                fechaFin.touched &&
                fechaFin.hasError('required')
              "
            >
              Debe seleccionar una fecha de finalización
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="col-md-12 form-group">
            <input
              type="text"
              matInput
              placeholder="Lugar"
              ngModel
              #lugar="ngModel"
              name="lugar"
              required
            />
            <mat-error
              *ngIf="
                lugar.invalid && lugar.touched && lugar.hasError('required')
              "
            >
              El lugar de realización del evento es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-group col-md-12">
            <textarea
              matInput
              name="descripcion"
              ngModel
              #descripcion="ngModel"
              rows="3"
              placeholder="Descripción"
              required
            ></textarea>
            <mat-error
              *ngIf="
                descripcion.invalid &&
                descripcion.touched &&
                descripcion.hasError('required')
              "
            >
              La descripción de evento es requerida
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-group col-md-12">
            <textarea
              matInput
              placeholder="Dirigido a"
              name="dirigido"
              #dirigido="ngModel"
              ngModel
              rows="3"
              required
            ></textarea>
            <mat-error
              *ngIf="
                dirigido.invalid &&
                dirigido.touched &&
                dirigido.hasError('required')
              "
            >
              Debe ingresar a quien(es) va dirigido el evento
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <app-egr-file-upload
            [text]="'Abrir imagen'"
            [accept]="'.jpg, .png'"
            (importEvent)="importFile($event)"
          ></app-egr-file-upload>
          Hola mundo, this is a test
        </div>
        <mat-card-actions>
          <button
            type="button"
            mat-raised-button
            class="btn btn-danger"
            (click)="onCancelar(addEventForm)"
          >
            Cancelar
          </button>
          <button
            [disabled]="addEventForm.invalid || isSaving"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Guardar<mat-spinner *ngIf="isSaving" diameter="30"></mat-spinner>
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
