<div class="row">
  
  <div class="loading-shape">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="col-xs-12 mat-elevation-z8">
    <table mat-table [dataSource]="data">
      <!-- Nombre del evento -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let evento">{{ evento.nombre }}</td>
      </ng-container>

      <!-- Fecha de inicio -->
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef>Fehca de inicio</th>
        <td mat-cell *matCellDef="let evento"> {{ evento.fechaInicio }} </td>
      </ng-container>

      <!-- Fecha de fin -->
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef>Fehca de fin</th>
        <td mat-cell *matCellDef="let evento"> {{ evento.fechaFin }} </td>
      </ng-container>

      <!-- Opciones -->
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let evento">
          <button type="button" mat-icon-button matTooltip="Presione para editar el evento" class="btn btn-warning">
            <mat-icon aria-label="Editar">edit</mat-icon>
          </button>
          <button type="button" mat-icon-button matTooltip="Presione para eliminar el evento" class="btn btn-danger">
            <mat-icon aria-label="Eliminar">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>