<mat-card class="mt-3">
  <mat-card-header>
    <mat-card-title>
      Lista de eventos
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      #formBuscarEventos="ngForm"
      (ngSubmit)="filtarEventos(formBuscarEventos)"
    >
      <div class="form-row">
        <mat-form-field appearance="outline" class="form-group col-md-6">
          <mat-label>Lugar</mat-label>
          <input
            type="text"
            matInput
            #lugar
            name="lugar"
            ngModel
            placeholder="Lugar"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-group col-md-6">
          <mat-label>Fecha</mat-label>
          <input
            matInput
            [matDatepicker]="fechaPicker"
            placeholder="Fecha"
            ngModel
            #fecha="ngModel"
            name="fecha"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="fechaPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #fechaPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-row form-group">
        <button type="submit" color="primary" mat-raised-button>
          Filtrar
        </button>
      </div>
    </form>
    <div class="mat-elevation-z8">
      <div class="loading-shape">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <!-- Nombre del evento -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let evento">{{ evento.nombre | egcapitalize }}</td>
        </ng-container>

        <!-- Fecha de inicio -->
        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef>Fecha de inicio</th>
          <td mat-cell *matCellDef="let evento">
            {{ toDate(evento.fechaInicio) | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>

        <!-- Fecha de fin -->
        <ng-container matColumnDef="fechaFin">
          <th mat-header-cell *matHeaderCellDef>Fecha de finalización</th>
          <td mat-cell *matCellDef="let evento">{{ toDate(evento.fechaFin) | date: 'dd/MM/yyyy'}}</td>
        </ng-container>

        <!-- Opciones -->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let evento">
            <button
              type="button"
              mat-icon-button
              matTooltip="Presione para editar el evento"
              class="btn"
              (click)="onEventoSeleccionado(evento)"
            >
              <mat-icon aria-label="Editar">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="no-records" *ngIf="noData()">
        No se encontraron resultados
      </div>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,20,50]" [length]="totalResults"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
