<app-header></app-header>
<app-navbar-home-ofertas></app-navbar-home-ofertas>

<div class="container mt-3 mb-3" role="main">
  <h2 class = "text-primary">Ofertas laborales por aprobar:</h2><p></p>
  <div *ngIf="!auxiliar" class="row">
    <h3 class="text-centered px-3"> Cargando ofertas...</h3>
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">  Loading...</span>
    </div>
  </div>
  <h3 *ngIf="arregloVacio" class="text-centered"> No se encontraron ofertas </h3>
  <div *ngIf="!arregloVacio" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>


      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha_registro}} </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"><a href="" data-toggle="modal" data-target="#exampleModalScrollable"
            (click)="setOfertaActual(element.id)">
            Ver Informacion</a></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>