<h2>EDITAR EVENTO</h2>
<mat-dialog-content>
  <form #addEventForm="ngForm" invalidate (ngSubmit)="onSave(addEventForm)">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-group col-md-9">
        <mat-label>Nombre</mat-label>
        <input
          type="text"
          name="nombre"
          [(ngModel)]="evento.nombre"
          matInput
          #nombre="ngModel"
          required
          placeholder="Nombre"
          letter
        />
        <mat-error
          *ngIf="
            nombre.invalid && nombre.touched && nombre.hasError('required')
          "
        >
          Campo requerido </mat-error
        ><mat-error
          *ngIf="nombre.invalid && nombre.touched && nombre.hasError('letter')"
        >
          El campo solo admite letras
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group col-md-3">
        <mat-label>Cupos</mat-label>
        <input
          type="number"
          name="cupos"
          [(ngModel)]="evento.cupos"
          matInput
          #cupos="ngModel"
          placeholder="Cupos"
          min="1"
          (change)="onCuposChange()"
        />
        <mat-error
          *ngIf="cupos.invalid && cupos.touched && cupos.hasError('min')"
        >
          La cantidad de cupos debe ser mayor a cero
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-group col-md-6">
        <mat-label>Fecha de inicio</mat-label>
        <input
          matInput
          [matDatepicker]="fechaInicioPicker"
          placeholder="Fecha de inicio"
          [(ngModel)]="minmaxdate.minDate"
          #fechaInicio="ngModel"
          required
          (dateChange)="minmaxdate.onMinDateSelect()"
          name="fehcaInicio"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="fechaInicioPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #fechaInicioPicker></mat-datepicker>
        <mat-error
          *ngIf="
            fechaInicio.invalid &&
            fechaInicio.touched &&
            fechaInicio.hasError('required')
          "
        >
          Campo requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group col-md-6">
        <mat-label>Fecha de finalización</mat-label>
        <input
          matInput
          [matDatepicker]="fechaFinPicker"
          placeholder="Fecha de finalización"
          [min]="minmaxdate.minDate"
          [(ngModel)]="minmaxdate.maxDate"
          #fechaFin="ngModel"
          required
          name="fechaFin"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="fechaFinPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #fechaFinPicker></mat-datepicker>
        <mat-error
          *ngIf="
            fechaFin.invalid &&
            fechaFin.touched &&
            fechaFin.hasError('required')
          "
        >
          Debe seleccionar una fecha de finalización
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Hora de inicio</mat-label>
        <input
          type="text"
          matInput
          placeholder="Hora de inicio"
          [(ngModel)]="evento.horaInicio"
          #horaInicio="ngModel"
          name="horaInicio"
          required
          pattern="^\d\d:\d\d$"
          hourDomain
        />
        <mat-error
          *ngIf="
            horaInicio.errors?.required &&
            horaInicio.invalid &&
            (horaInicio.dirty || horaInicio.touched)
          "
        >
          Campo requerido
        </mat-error>
        <mat-error
          *ngIf="
            horaInicio.errors?.pattern &&
            horaInicio.invalid &&
            (horaInicio.dirty || horaInicio.touched)
          "
        >
          El formato de la hora es HH:MM
        </mat-error>
        <mat-error
          *ngIf="
            horaInicio.hasError('hourDomain') &&
            horaInicio.invalid &&
            (horaInicio.dirty || horaInicio.touched)
          "
        >
          Debe ingresar una hora válida (formato 24 horas)
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Hora de finalización</mat-label>
        <input
          type="text"
          matInput
          placeholder="Hora de fin"
          [(ngModel)]="evento.horaFin"
          #horaFin="ngModel"
          name="horaFin"
          required
          pattern="^\d\d:\d\d$"
          hourDomain
        />
        <mat-error
          *ngIf="
            horaFin.errors?.required &&
            horaFin.invalid &&
            (horaFin.dirty || horaFin.touched)
          "
        >
          Campo requerido
        </mat-error>
        <mat-error
          *ngIf="
            horaFin.errors?.pattern &&
            horaFin.invalid &&
            (horaFin.dirty || horaFin.touched)
          "
        >
          El formato de la hora es HH:MM
        </mat-error>
        <mat-error
          *ngIf="
            horaFin.hasError('hourDomain') &&
            horaFin.invalid &&
            (horaFin.dirty || horaFin.touched)
          "
        >
          Debe ingresar una hora válida (formato 24 horas)
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="col-md-12 form-group">
        <mat-label>Lugar</mat-label>
        <input
          type="text"
          matInput
          placeholder="Lugar"
          [(ngModel)]="evento.lugar"
          #lugar="ngModel"
          name="lugar"
          required
        />
        <mat-error
          *ngIf="lugar.invalid && lugar.touched && lugar.hasError('required')"
        >
          El lugar de realización del evento es requerido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-group col-md-12">
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          name="descripcion"
          [(ngModel)]="evento.descripcion"
          #descripcion="ngModel"
          rows="3"
          placeholder="Descripción"
          required
        ></textarea>
        <mat-error
          *ngIf="
            descripcion.invalid &&
            descripcion.touched &&
            descripcion.hasError('required')
          "
        >
          La descripción de evento es requerida
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-group col-md-12">
        <mat-label>Dirigido a</mat-label>
        <textarea
          matInput
          placeholder="Dirigido a"
          name="dirigido"
          #dirigido="ngModel"
          [(ngModel)]="evento.dirigidoA"
          rows="3"
          required
        ></textarea>
        <mat-error
          *ngIf="
            dirigido.invalid &&
            dirigido.touched &&
            dirigido.hasError('required')
          "
        >
          Debe ingresar a quien(es) va dirigido el evento
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <app-egr-file-upload-update
        #fileInput
        [text]="'Agregar imagen'"
        [accept]="'.jpg,.png'"
        (importEvent)="importUpdateFile($event)"
        [labelText]="'Imágen del evento'"
      ></app-egr-file-upload-update>
    </div>
    <div class="form-row">
      <img
        *ngIf="!changeImage"
        [src]="eventImageApi + evento.imagePath"
        alt="Imagen del evento"
        class="img-thumbnail img-fluid mt-2 mb-2"
      />
      <img
        *ngIf="changeImage"
        [src]="urlImage"
        alt="Imagen del evento"
        class="img-thumbnail mt-2 mb-2 img-fluid"
      />
    </div>
    <mat-dialog-actions>
      <button
        type="button"
        mat-raised-button
        class="btn btn-danger"
        (click)="cancelar(addEventForm)"
      >
        Cancelar
      </button>
      <button
        [disabled]="addEventForm.invalid || isSaving"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Guardar
      </button>
      <div
        class="spinner-grow text-danger ml-2 mt-2"
        role="status"
        *ngIf="isSaving"
      >
        <span class="sr-only">Guardando...</span>
      </div>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
