<nav id="navBar" class="navbar navbar-light bg-light shadow border-bottom sticky-top">
  <div class="row">
    <ul class="nav col-6">
      <li class="nav-item">
        <a class="nav-link active" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ofertas Laborales</a>
      </li>
    </ul>

    <ul class="nav justify-content-end col-6">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Registrarse</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Egresado</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Empresa</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Iniciar Sesion</a>
      </li>
    </ul>
  </div>
</nav>
