<div id="base">
  <h2 mat-dialog-title align="center">Evento</h2>
  <form id="form">
    <div class="row">
      <div class="col-md-6">
        <div id="imagen">
          <div  *ngIf="data.event.imagePath && data.event.imagePath != 'null'">
            <img src="{{eventImageApi+data.event.imagePath}}" style="width: 80%; height: 250px;" alt="">
          </div>
        </div>
      </div>
      <div id="data" class="col-12 col-md-5">
        <div>
          <b>Nombre: </b>
          {{data.event.nombre}}
        </div>

        <div>
          <b>Fecha y hora inicio: </b>
          {{data.event.fechaInicio }} - {{data.event.horaInicio}}
        </div>

        <div>
          <b>Fecha y hora fin: </b>
          {{data.event.fechaFin }} - {{data.event.horaFin}}
        </div>

        <div>
          <b>Lugar: </b>
          {{data.event.lugar}}
        </div>

        <div>
          <b>Cupos: </b>
          {{data.event.cupos}}
        </div>

        <div>
          <b>Dirigido a: </b>
          {{data.event.dirigidoA}}
        </div>

      </div>

    </div>
    <div class="descripcion">
      <b>Descripción</b>
      {{data.event.descripcion}}
    </div>
   

  </form>
  <mat-dialog-content class="mat-typography">
  </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button  [mat-dialog-close]="false" mat-button>Salir</button>
    </mat-dialog-actions>

  
</div>