<div id="Encabezado" class="row col-auto border-bottom">
  <div class="col-md-6">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/Titulo.jpg" alt="">
    </a>

  </div>

  <div class="col-md-6 ">

    <div class="row justify-content-end p-1 pt-4">
      <a id="icons" href="#">
        <img src="../assets/icons/iconfb.png" alt="">
      </a>
      <a id="icons" href="#">
        <img src="../assets/icons/icontw.png" alt="">
      </a>
      <a id="icons" href="#">
        <img src="../assets/icons/icontw.png" alt="">
      </a>
    </div>
  </div>
</div>