<footer class="page-footer font-small pt-4 border-top navbar-fixed-bottom">
  <div class="container">  
    <a> CONTACTO ÁREA DE EGRESADOS </a>
    <ul class="list-inline col-5">
      <li class="list-inline-item"> <a class="direccion"> Dirección: Calle 5 N° 4-70</a></li>
      <li class="list-inline-item"> <a class="lugar"> Centro Histórico - Santo Domingo - Popayán</a></li>
      <li class="list-inline-item"> <a class="telefono"> Teléfono: 8209900 Ext. 1431</a></li>
      <li class="list-inline-item"> <a class="Correo"> Correo electrónico: egresados@unicauca.edu.co</a></li>
    </ul>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://www.unicauca.edu.co/versionP/">Universidad Del Cauca</a>
  </div>
</footer>