.example-container {
    width: auto;
    height: 30rem;
    margin: 10px;
    border: 0px solid #555;
  }
  .seleccionado {
    background-color: rgba(153, 153, 153, 0.589);
    color: rgb(49, 226, 43);
}
table {
  width: 100%;
  text-align: center;
}
main {
  display: block;
}
th.mat-header-cell {
  text-align: center;
}
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 ;
  width: 7rem;
  height: 7rem;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

