table {
  width: 100%;
  text-align: center;
}

main {
  display: block;
}

th.mat-header-cell {
  text-align: center;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
.mat-form-field {
  width: 100%;
}
.centrar {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.acciones {
  line-height:20px;
  vertical-align:middle;
  margin-right: 5px;
}

