<app-header></app-header>
<app-navbar-empresa [id]="id"></app-navbar-empresa>
<!--Filtrar-->
<div class="container mt-4 mb-3" role="main">
  <div *ngIf="ofertas && !ofertas.length > 0" class="text-center row">
    <h4>No hay ninguna oferta laboral aun publicada por su empresa</h4>
  </div>

  <div class="d-flex align-items-end flex-column">
    <mat-form-field>
      <mat-label>Filtrar por:</mat-label>
      <mat-select>
        <mat-option value="Todas" (click)="filtrar('','estado')">Todas</mat-option>
        <mat-option value="Aceptadas" (click)="filtrar('aceptada','estado')">Aceptadas</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="ofertas && ofertas.length > 0" class="mat-elevation-z8">
    <!--Tabla-->
    <table mat-table [dataSource]="dataSource">

      <!-- Columna Fecha -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Fecha publicacion </th>
        <td mat-cell *matCellDef="let element"> {{ element.fecha_publicacion }} </td>
      </ng-container>

      <!-- Columna Cargo -->
      <ng-container matColumnDef="cargo">
        <th mat-header-cell *matHeaderCellDef> Cargo </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCargo}} </td>
      </ng-container>

      <!-- Columna Vacante -->
      <ng-container matColumnDef="vacantes">
        <th mat-header-cell *matHeaderCellDef> Vacantes </th>
        <td mat-cell *matCellDef="let element"> {{element.numero_vacantes}} </td>
      </ng-container>

      <!-- Columna estado -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <!-- Columna Accion -->
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"><a href="" data-toggle="modal" data-target="#exampleModalScrollable"
            (click)="verOferta(element.id)">
            Ver Informacion</a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>