#base {
    height: 100%;
    width: 100%;
}

#imgBandera {
    position: fixed;
    left: 0;
    bottom: 0;    
    background: url("/assets/img/bandera.png") no-repeat;
    width: 150px;
    height: 100px;
    z-index: 0;
}

#row {
    padding: 0% 2% 2% 2%;
    z-index: 1;
    
}

#content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 5% 5% 5% 5%;
    box-shadow: 0px 0px 3px grey;
}



#form {
    display: flex;
    flex-direction: column;
}

#msgError {
    text-align: center;
    color: red;
}

#btnRegister {
    margin-top: 20px;
    background-color: rgb(1, 81, 172);
    box-shadow: 1px 5px 10px rgb(112, 113, 114);
    color: #fff;
    padding: 2%;
    border-radius: 10px;
}

#btnRegister:hover {
    font-weight: bold;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.titulo{
    margin: 0 auto;
    text-align: center;
    
}

.botonesStepper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    margin: 2%;
    width: 20%;
    padding: 4px;
    color: #fff;
    border: 1px solid rgb(68, 109, 197);
    background-color: rgb(68, 109, 197);
    box-shadow: 1px 1px 7px rgb(126, 126, 126);
}

.botonCancelar {
    margin: 2%;
    width: 20%;
    padding: 4px;
    color: #fff;
    border: 1px solid rgb(233, 31, 31);
    background-color: rgb(221, 55, 55);
    box-shadow: 1px 1px 7px rgb(126, 126, 126);
}