<app-nav-egresados></app-nav-egresados>
<div id="base">
  <!-- <app-navbar-home-ofertas></app-navbar-home-ofertas> -->
  <div id="row" class="row ">
    <mat-toolbar class="col-12 col-md-8 offset-md-2 " color="primary">
      <span class="titulo">Carnetización</span>
    </mat-toolbar>
    <div id="content" class="col-12 col-md-8 offset-md-2">
      <form id="form" #registerForm="ngForm">

        <!--Si esta validado en el sistema y  no ha completado la info -->
        <div *ngIf="estadoEgres == true && estadoInfoEgresado == false" align="center">
          <p>{{mensajeCompletar}}</p>
          <button class='boton' color="primary" onclick="location.href='egresados/completarRegistro'" mat-button>Completar</button>
        </div>

        <!--Si el egresado no esta validado en el sistema-->
        <div *ngIf="estadoEgres == false" align="center">
          <p>{{mensajeEstadoEgresado}}</p>
          <button class='boton' color="primary" onclick="location.href='/egresados'" mat-button>Salir</button>
        </div>
        <!--Si el egresado no ha solicitado un carnet-->
        <div *ngIf="estadoEgres && (estadoCarnet == '' || estadoCarnet == 'CANCELADO') && estadoInfoEgresado" align="center">
          <p>Aún no has solicitado tu carnet</p>
          <button class='boton' color="primary" onclick="location.href='/egresados'" mat-button>Salir</button>
          <button class='boton' color="primary" (click)="solicitudCarnet('PENDIENTE')"   mat-button>Solicitar</button>
        </div>

        <ng-template matStepLabel>
          Estado de solicitud de carnetización
        </ng-template>
        <!--Si el estado de solicitud de carnet es pendiente-->
        <div *ngIf="estadoCarnet == 'PENDIENTE'" align="center">
          <p>{{mensajeEstado}}</p>
          <p>{{mensajeCancelar}}</p>
          <button class='boton' color="primary" onclick="location.href='/egresados'" mat-button>Salir</button>
          <button class='botonCancelar' (click)="solicitudCarnet('CANCELADO')" mat-button>Cancelar </button>
        </div>

        <!--Si el estado de solicitud de carnet es aceptado-->
        <div *ngIf="estadoCarnet == 'RESPONDIDO'" align="center">
          <p>{{mensajeEstadoAceptado}}</p>
          <p>{{mensajeSolicitar}}</p>
          <button class='boton' color="primary" onclick="location.href='/egresados'" mat-button>Salir</button>
          <button class='boton' color="primary" (click)="solicitudCarnet('PENDIENTE')"   mat-button>Solicitar</button>
        </div>
        <!--Si el estado de solicitud de carnet es rechazado-->
        <div *ngIf="estadoCarnet == 'RECHAZADO'" align="center">
          <p>{{mensajeEstadoRechazado}}</p>
          <p>{{mensajeSolicitar}}</p>
          <button class='boton' color="primary" onclick="location.href='/egresados'" mat-button>Salir</button>
          <button class='boton' color="primary" (click)="solicitudCarnet('PENDIENTE')"   mat-button>Solicitar</button>
        </div>
      </form>

    </div>
  </div>
</div>