<app-nav-egresados></app-nav-egresados>
<div id="base">
  <div id="imgBandera"></div>
  <app-navbar-home-ofertas></app-navbar-home-ofertas>
  <div id="row" class="row ">
    <mat-toolbar class="col-12 col-md-8 offset-md-2 " color="primary">
      <span class="titulo">Carnetizacion</span>
    </mat-toolbar>
    <div id="content" class="col-12 col-md-8 offset-md-2">
      <form id="form" #registerForm="ngForm">

        <!--Si esta validado en el sistema y  no ha completado la info -->
        <div *ngIf="estadoEgres && !estadoInfoEgresado" align="center">
          <p>{{mensajeCompletar}}</p>
          <button class='boton' color="primary" mat-button>Completar Registro</button>
        </div>
        
        <!--Si el egresado no esta validado en el sistema-->
        <div *ngIf="!estadoEgres" align="center">
          <p>{{mensajeEstadoEgresado}}</p>
        </div>
        <!--Si el egresado no ha solicitado un carnet-->
        <div *ngIf="estadoEgres && estadoCarnet =='0' " align="center">
          <button class='boton' color="primary" mat-button>Solicitar Carnet</button>
        </div>

        <ng-template matStepLabel>
          Estado de solicitud de carnetización
        </ng-template>
        <!--Si el estado de solicitud de carnet es pendiente-->
        <div *ngIf="estadoCarnet=='PENDIENTE'" align="center">
          <p>{{mensajeEstado}}</p>
          <button class='botonCancelar' mat-button>Cancelar Solicitud</button>
        </div>

        <!--Si el estado de solicitud de carnet es aceptado-->
        <div *ngIf="estadoCarnet=='ACEPTADO'" align="center">
          <p>{{mensajeEstadoAceptado}}</p>
        </div>
        <!--Si el estado de solicitud de carnet es rechazado-->
        <div *ngIf="estadoCarnet=='RECHAZADO'" align="center">
          <p>{{mensajeEstadoRechazado}}</p>
        </div>
      </form>

    </div>
  </div>
</div>