<h2 mat-dialog-title>Su registro ha sido exitoso</h2>
<mat-dialog-content class="mat-typography">
  <h3>Gracias por registrarse</h3>
  <p><b>Por favor, lea con atención antes de seguir:</b></p>
  <p>A continuación le llegará un correo electronico al <b>email</b> de su empresa, siga las instrucciones para crear una <b>contraseña.</b></p>
  <p>Luego de crear su contraseña <b>sus datos se enviarán a nosotros para verificar su validez, una vez verificados usted será notificado vía email y podrá iniciar sesión.</b></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>