mat-form-field{
    margin-right: 15px;
    margin-left: 0px;
}
mat-label, mat-radio-button{
    margin-right: 20px;
}
/*form{
    display: flex;
    flex-direction: column;
}*/
.programa{
    width: 60%;
    padding: 3%;
}