<div class="Programa">
  <mat-label>Egresado de: </mat-label>
  <mat-radio-group [formControl]="nivelAcademico" required>
    <mat-radio-button value=0>Pregrado</mat-radio-button>
    <mat-radio-button value=1>Posgrado</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="outline">
    <mat-label>Facultad</mat-label>
    <mat-select [formControl]="facultad" required (selectionChange)="obtenerFacultad()">
      <mat-option *ngFor="let facu of facultades" [value]="facu.id_aut_facultad">{{facu.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Programa</mat-label>
    <mat-select [formControl]="programa" required (selectionChange)="obtenerPrograma()">
      <mat-option *ngFor="let progra of programas" [value]="progra.id_aut_programa">{{progra.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>   