<mat-card class="refPersonal">
  <mat-card-title>Agregar referencia personal</mat-card-title>
  <form id="formReferido">
    <div class="row">
      <div class="form-group col-md-6">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput [formControl]="Nombre" type="text" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]{1,50}" required>
          <mat-error *ngIf="Nombre.hasError('pattern')">El campo solo debe contener letras con un máximo de 50 caracteres.</mat-error>
          <mat-error *ngIf="Nombre.hasError('required')">Ingresa su nombre.</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Parentesco</mat-label>
          <mat-select [formControl]="Parentesco" required>
            <mat-option [value]="item" *ngFor="let item of listaParentesco">{{item}}</mat-option>
          </mat-select>
          <mat-error *ngIf="Parentesco.hasError('required')">Ingresa su parentesco.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Correo electrónico </mat-label>
          <input matInput type="email" [formControl]="Correo" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
          <mat-error *ngIf="Correo.hasError('pattern')">Solo se permite letras (a-z), números (0-9), guion (- _) y punto(.). Ejemplo: ejemplo@dominio.com</mat-error>
          <mat-error *ngIf="Correo.hasError('required')">Ingresa su correo.</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
          <mat-label>Teléfono/Celular</mat-label>
          <input matInput [formControl]="Celular" pattern="[0-9]{10}" required>
          <mat-error *ngIf="Celular.hasError('pattern')">Número inválido</mat-error>
          <mat-error *ngIf="Celular.hasError('required')">Ingresa su teléfono/celular.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-label>¿Es egresado de la Universidad del Cauca?: </mat-label>
    <mat-radio-group [formControl]="Egresado" required>
      <mat-radio-button value=0>Si</mat-radio-button>
      <mat-radio-button value=1>No</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="Egresado.hasError('required')">Seleccione si es egresado de la Universidad del Cauca.</mat-error>
    <app-programa *ngIf="Egresado.value=='0'" #programa></app-programa>
    <div class="row">
      <button id="cancelar" (click)="cancelar()" mat-raised-button class="btn btn-danger">Cancelar</button>
      <button id="agregar" (click)="guardarReferido()" mat-raised-button color="primary">Agregar</button>
    </div>
  </form>
</mat-card>