<header>
  <div id="Encabezado">
    <img src="../assets/img/egresados-logo.png" >
  </div>

  <nav class="nav justify-content-end navbar-light bg-light shadow border-bottom sticky-top">
    <div class = "row">
      <ul class = "nav col-12 " routerLinkActive = "active"> 
        <li *ngIf="auth.isLogin" class = "nav-item"> 
          <a class = "nav-link" (click) = "completarReg()">Completar Registro</a>
        </li>
        <li *ngIf="auth.isLogin" class = "nav-item"> 
          <a class = "nav-link" (click) = "perfil()">Perfil</a>
        </li>
        <li *ngIf="auth.isLogin" class = "nav-item"> 
          <a class = "nav-link" routerLink = "carnetizacion">Carnetización</a>
        </li>
        <li class = "nav-item"> 
          <a class = "nav-link" routerLink = "eventos">Eventos</a>
        </li>
        <li class = "nav-item"> 
          <a class = "nav-link" (click) = "ofertasLab()">Ofertas Laborales</a>
        </li>

      </ul>
    </div>
  </nav>
</header>