<header>
  <div id="Encabezado">
    <img src="../assets/img/egresados-logo.png" >
  </div>

  <nav class="navbar navbar-light bg-light shadow border-bottom sticky-top">
    <div class = "row">
      <ul class = "nav col-12 " routerLinkActive = "active"> 
        <li *ngIf="auth.isLogin"  class = "nav-item"> 
          <a class = "nav-link" routerLink = "completarRegistro">Completar registro</a>
        </li>
        <li  *ngIf="auth.isLogin" class = "nav-item"> 
          <a class = "nav-link" routerLink = "verPerfil">Perfil</a>
        </li>
        <li *ngIf="auth.isLogin" class = "nav-item"> 
          <a class = "nav-link" routerLink = "carnetizacion">Carnetización</a>
        </li>
        <li class = "nav-item"> 
          <a class = "nav-link" routerLink = "eventos">Eventos</a>
        </li>
        <li class = "nav-item"> 
          <a class = "nav-link" routerLink = "home">Ofertas laborales</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isLogin" class="nav-link" [routerLink]="['/login']">Iniciar Sesión</a>
          <a *ngIf="isLogin" class="nav-link" (click)="logout()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
</header>