<app-header></app-header>
<app-navbar-home-ofertas></app-navbar-home-ofertas>
<div class="container-fluid mt-3">
  <div class="row">
    <!-- File upload component -->
    <app-file-upload (importFile)="verificarArchivo($event)"></app-file-upload>
    <!-- End file upload component -->
  </div>
  <app-spinner *ngIf="showSpinner"></app-spinner>
  <div class="row results mt-3" *ngIf="processFinished">
    <div class="col-12 col-md-3 aside">
      <ul class="list-group">
        <li
          (click)="mostrarActivos()"
          class="list-group-item"
          [ngClass]="{ activo: showActivos }"
        >
          Activos Logueado
        </li>
        <li
          (click)="mostrarPendientes()"
          class="list-group-item"
          [ngClass]="{ activo: showPendientes }"
        >
          Activos No Logueados
        </li>
        <li
          (click)="mostrarInconsistentes()"
          class="list-group-item"
          [ngClass]="{ activo: showInconsistentes }"
        >
          Inconsistentes
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-9 main-content">
      <div class="aceptados mat-elevation-z8" *ngIf="showActivos">
        <mat-toolbar color="primary">
          ACTIVOS LOGUEADOS
        </mat-toolbar>
        <app-lista-egresados
          [dataSource]="activos"
          #tblAceptados
        ></app-lista-egresados>
      </div>
      <div class="pendientes mat-elevation-z8" *ngIf="showPendientes">
        <mat-toolbar color="primary">
          ACTIVOS NO LOGUEADOS
        </mat-toolbar>
        <app-lista-egresados
          [dataSource]="pendientes"
          #tblPendientes
        ></app-lista-egresados>
      </div>
      <div class="inconsistentes mat-elevation-z8" *ngIf="showInconsistentes">
        <mat-toolbar color="primary">
          INCONSISTENTES
        </mat-toolbar>
        <app-lista-egresados
          [dataSource]="inconsistentes"
          #tblInconsistentes
        ></app-lista-egresados>
      </div>
    </div>
  </div>
</div>
