<form novalidate #infoPersonalFrm="ngForm" (submit)="onGuardar(infoPersonalFrm)">
  <div class="row">
    <!-- Nombres -->
    <mat-form-field class="col-md-6">
      <input type="text" #nombres matInput [(ngModel)]="egresado.nombres" required [disabled]="!onEditMode" placeholder="Nombres">
    </mat-form-field>
    <!-- Apellidos -->
    <mat-form-field class="col-md-6">
      <input type="text" #apellidos matInput [(ngModel)]="egresado.apellidos" required [disabled]="!onEditMode" placeholder="Apellidos">
    </mat-form-field>
  </div>
  <div class="row">
    <!-- Grupo étnico -->
    <mat-form-field class="col-md-6">
      <mat-label>Grupo étnico</mat-label>
      <mat-select [disabled]="!onEditMode" [(ngModel)]="egresado.grupoEtnico">
        <mat-option *ngFor="let grupoEtnico of gruposEtnicos" [value]="grupoEtnico">
          {{ grupoEtnico }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Discapacidades -->
    <mat-form-field class="col-md-6">
      <!-- TODO: Incluir checkboxes de discapacidades -->
    </mat-form-field>
  </div>

  <div class="row">
    <!-- Identificación -->
    <mat-form-field class="col-md-6">
      <input type="text" matInput #identifiacion required pattern="[0-9]+" maxlength="12" [(ngModel)]="egresado.identificacion" placeholder="Identificación">
    </mat-form-field>
    <!-- Estado civil -->
    <mat-form-field class="col-md-6">
      <mat-label>Estado civil</mat-label>
      <mat-select [disabled]="!onEditMode" [(ngModel)]="egresado.estadoCivil">
        <mat-option *ngFor="let estadoCivil of estadosCiviles" [value]="estadoCivil">
        {{ estadoCivil }}
      </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <!-- País de nacimiento -->
    <mat-form-field class="col-md-6">
      <mat-label>País de nacimiento</mat-label>
      <mat-select [disabled]="!onEditMode" [(ngModel)]="lugarNacimiento.pais">
        <mat-option *ngFor="let pais of lstLugarNacimiento.paises" [value]="pais">
          {{ pais.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- País de residencia -->
  </div>
</form>
