<form
  novalidate
  #infoPersonalFrm="ngForm"
  (submit)="onGuardar(infoPersonalFrm, $event)"
>
  <div class="row">
    <!-- Nombres -->
    <mat-form-field class="col-md-6">
      <input
        type="text"
        name="nombres"
        #nombres
        matInput
        [(ngModel)]="egresado.nombres"
        required
        [disabled]="!onEditMode"
        placeholder="Nombres"
      />
    </mat-form-field>
    <!-- Apellidos -->
    <mat-form-field class="col-md-6">
      <input
        type="text"
        name="apellidos"
        #apellidos
        matInput
        [(ngModel)]="egresado.apellidos"
        required
        [disabled]="!onEditMode"
        placeholder="Apellidos"
      />
    </mat-form-field>
  </div>
  <div class="row">
    <!-- Grupo étnico -->
    <mat-form-field class="col-md-6">
      <mat-label>Grupo étnico</mat-label>
      <mat-select
        [disabled]="!onEditMode"
        name="grupoEtnico"
        [(ngModel)]="egresado.grupoEtnico"
      >
        <mat-option
          *ngFor="let grupoEtnico of gruposEtnicos"
          [value]="grupoEtnico"
        >
          {{ grupoEtnico }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Discapacidades -->
    <div class="col-md-6">
      <mat-checkbox
        [disabled]="!onEditMode"
        [checked]="enDiscapacidadEgresado(discapacidad.idDiscapacidad)"
        labelposition="after"
        *ngFor="let discapacidad of discapacidades"
        name="discapacidades"
        (change)="onCheckDiscapacidad(discapacidad, $event.checked)"
      >
        {{ discapacidad.Nombre }}
      </mat-checkbox>
    </div>
  </div>

  <div class="row">
    <!-- Identificación -->
    <mat-form-field class="col-md-6">
      <input
        type="text"
        [disabled]="!onEditMode"
        matInput
        #identifiacion
        name="identificacion"
        required
        pattern="[0-9]+"
        maxlength="12"
        [(ngModel)]="egresado.identificacion"
        placeholder="Identificación"
      />
    </mat-form-field>
    <!-- Estado civil -->
    <mat-form-field class="col-md-6">
      <mat-label>Estado civil</mat-label>
      <mat-select
        [disabled]="!onEditMode"
        name="estadoCivil"
        [(ngModel)]="egresado.estadoCivil"
      >
        <mat-option
          *ngFor="let estadoCivil of estadosCiviles"
          [value]="estadoCivil"
        >
          {{ estadoCivil }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <!-- País de nacimiento -->
    <mat-form-field class="col-md-6">
      <mat-label>País de nacimiento</mat-label>
      <mat-select
        [disabled]="!onEditMode"
        name="paisNacimiento"
        [(ngModel)]="lugarNacimiento.pais.id"
        (selectionChange)="lstLugarNacimiento.onPaisSelected($event.value)"
      >
        <mat-option
          [value]="pais.id"
          *ngFor="let pais of lstLugarNacimiento.paises$ | async"
        >
          {{ pais.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Departamento de nacimiento -->
    <mat-form-field class="col-md-6">
      <mat-label>Departamento de nacimiento</mat-label>
      <mat-select
        [(ngModel)]="lugarNacimiento.departamento.id"
        name="departamentoNacimiento"
        [disabled]="!onEditMode"
        (selectionChange)="
          lstLugarNacimiento.onDepartamentoSelected($event.value)
        "
      >
        <mat-option
          *ngFor="let departamento of lstLugarNacimiento.departamentos$"
          [value]="departamento.id"
        >
          {{ departamento.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <!-- Cuidad de nacimiento-->
    <mat-form-field class="col-md-6">
      <mat-label>Ciudad de nacimiento</mat-label>
      <mat-select
        [disabled]="!onEditMode"
        name="ciudadNacimiento"
        [(ngModel)]="lugarNacimiento.ciudad.id"
      >
        <mat-option
          *ngFor="let ciudad of lstLugarNacimiento.ciudades$"
          [value]="ciudad.id"
        >
          {{ ciudad.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- País de residencia -->
    <mat-form-field class="col-md-6">
      <mat-label>País de residencia</mat-label>
      <mat-select
        [disabled]="!onEditMode"
        name="paisResidencia"
        [(ngModel)]="lugarResidencia.pais.id"
        (selectionChange)="lstLugarResidencia.onPaisSelected($event.value)"
      >
        <mat-option
          [value]="pais.id"
          *ngFor="let pais of lstLugarResidencia.paises$ | async"
        >
          {{ pais.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <!-- Departamento de residencia -->
    <mat-form-field class="col-md-6">
      <mat-label>Departamento de residencia</mat-label>
      <mat-select
        [(ngModel)]="lugarResidencia.departamento.id"
        name="departamentoResidencia"
        [disabled]="!onEditMode"
        (selectionChange)="
          lstLugarResidencia.onDepartamentoSelected($event.value)
        "
      >
        <mat-option
          *ngFor="let departamento of lstLugarResidencia.departamentos$"
          [value]="departamento.id"
        >
          {{ departamento.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Cuidad de residencia -->
    <mat-form-field class="col-md-6">
      <mat-label>Ciudad de residencia</mat-label>
      <mat-select
        [disabled]="!onEditMode"
        name="ciudadResidencia"
        [(ngModel)]="lugarResidencia.ciudad.id"
      >
        <mat-option
          *ngFor="let ciudad of lstLugarResidencia.ciudades$"
          [value]="ciudad.id"
        >
          {{ ciudad.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <!-- Dirección de residencia -->
    <mat-form-field class="col-md-6">
      <input
        type="text"
        matInput
        #direccionResidencia
        name="direccionResidencia"
        [(ngModel)]="egresado.lugarResidencia.direccion"
        [disabled]="!onEditMode"
        placeholder="Dirección de residencia"
        required
        pattern="[a-zA-Z0-9\s]+"
      />
    </mat-form-field>
    <!-- Genero -->
    <mat-form-field class="col-md-6">
      <mat-label>Genero</mat-label>
      <mat-select
        [(ngModel)]="egresado.genero"
        [disabled]="!onEditMode"
        name="genero"
      >
        <mat-option value="MASCULINO">MASCULINO</mat-option>
        <mat-option value="FEMENINO">FEMENINO</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <!-- Correo electrónico -->
    <mat-form-field class="col-md-6">
      <input
        type="email"
        required
        matInput
        #correo
        name="correo"
        [disabled]="!onEditMode"
        placeholder="Correo electrónico"
        [(ngModel)]="egresado.correo"
      />
    </mat-form-field>
    <!--  Correo electrónico alternativo-->
    <mat-form-field class="col-md-6">
      <input
        type="email"
        required
        matInput
        #correoAlternativo
        name="correoAlternativo"
        [disabled]="!onEditMode"
        placeholder="Correo electrónico alternativo"
        [(ngModel)]="egresado.correoAlternativo"
      />
    </mat-form-field>
  </div>

  <div class="row">
    <!-- Teléfono -->
    <mat-form-field class="col-md-6">
      <input
        type="tel"
        name="telefonoFijo"
        required
        matInput
        [(ngModel)]="egresado.telefonoFijo"
        #telefonoFijo
        [disabled]="!onEditMode"
        placeholder="Teléfono fijo"
      />
    </mat-form-field>
    <!-- Celular -->
    <mat-form-field class="col-md-6">
      <input
        type="tel"
        name="celular"
        required
        matInput
        [(ngModel)]="egresado.celular"
        #celular
        [disabled]="!onEditMode"
        placeholder="Celular"
      />
    </mat-form-field>
  </div>

  <div class="row float-right">
    <button
      type="button"
      *ngIf="!onEditMode"
      class="btn btn-danger"
      mat-raised-button
      (click)="onEditar()"
    >
      Editar
    </button>
    <button
      type="button"
      *ngIf="onEditMode"
      class="btn btn-danger"
      (click)="onCancelar()"
      mat-raised-button
    >
      Cancelar
    </button>
    <button type="submit" *ngIf="onEditMode" color="primary" mat-raised-button>
      Guardar
    </button>
  </div>
</form>
