<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" [ngClass]="{ active: showSideBar }">
    <div class="sidebar-header">
      <h3>Oficina de Egresados</h3>
      <strong>OE</strong>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/admin']" routerLinkActive="active">
          <i class="fa fa-home"></i>
          Inicio
        </a>
      </li>
      <li>
        <!-- Link a la gestión de apoyos -->
        <a [routerLink]="['/admin/apoyos']" routerLinkActive="active">
          <i class="fa fa-handshake-o"></i>
          Apoyos
        </a>
        <!-- Link a la gestión de egresados -->
        <a
          href="#pageSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <i class="fa fa-copy"></i>
          Pages
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="/admin/carnetizacion">Solicitudes Carnetización</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a
          [routerLink]="['/admin/solicitudesEmpresas']"
          routerLinkActive="active"
        >
          <i class="fa fa-building-o"></i>
          Empresas
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin/verificar']" routerLinkActive="active">
          <i class="fa fa-check"></i>
          Verificar
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin/ofertasLaborales']" routerLinkActive="active">
          <i class="fa fa-usd"></i>
          Ofertas laborales
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin/eventos']" routerLinkActive="active">
          <i class="fa fa-ticket"></i>
          Eventos
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin/egresados']" routerLinkActive="active">
          <i class="fa fa-user"></i>
          Egresados
        </a>
      </li>
      <!--li>
        <a href="#">
          <i class="fa fa-image"></i>
          Portfolio
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-question"></i>
          FAQ
        </a>
      </li>
      <li>
          <i class="fa fa-paper-plane"></i>
          Contact
        </a>
      </li-->
      <li>
        <a (click)="onLogout()">
          <i class="fa fa-sign-out"></i>
          Cerrar Sesión
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          type="button"
          id="sidebarCollapse"
          color="primary"
          mat-raised-button
          class="btn"
          (click)="toogleSidebar()"
        >
          <i class="fa fa-align-left"></i>
        </button>
        <button
          class="btn btn-dark d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-align-justify"></i>
        </button>

        <!--div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
          </ul>
        </div-->
      </div>
    </nav>

    <div class="main-content p-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
