<app-navbar-home-ofertas></app-navbar-home-ofertas>
<div id="base">
  <mat-toolbar class="barra" color="primary">
    <span class="titulo">Eventos</span>
  </mat-toolbar>
   <div id="listaEventos" class="row no-gutters">
    <div class="col-12 col-md-6" *ngFor="let evento of eventos; let index = index">
      <div class="evento">
        <div align='center' class="imagenEvento">
          <img  *ngIf="evento.imagePath && evento.imagePath != 'null'" [src]="eventImageApi+evento.imagePath"
            style="height: 200px; width: 70%;" alt="">
        </div>
        <div class="infoEvento">
          <p class="nombreEvento">{{evento.nombre}}</p>
          <p class="descripcion">{{obtenerDescripcionCorta(evento.descripcion)}}</p>
          <div class="justify-content-center no-gutters" align="center">
            <button class="btnVer" (click)="verEvento(evento)">Ver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>