<!--Contenido Dialog-->
<h1 mat-dialog-title class="text-center"> {{datosOferta.nombre_oferta}}</h1>

<div mat-dialog-content>

  <!--Estado diferente a procesando-->
  <div *ngIf="datosOferta.estado === 'Aceptada'">
    <!--Opciones Dialog-->
    <mat-form-field>
      <mat-label>Estado:</mat-label>
      <mat-select [(value)]="estado">
        <mat-option value="Activa">Activa</mat-option>
        <mat-option value="En selección">En selección</mat-option>
        <mat-option value="Finalizada con contratación">Finalizada con contratación</mat-option>
        <mat-option value="Finalizada sin contratación">Finalizada sin contratación</mat-option>
      </mat-select>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button (click)="cambiarEstado()">Guardar</button>
      <!--<button mat-button [mat-dialog-close]="datosOferta" (click)="cambiarEstado()" cdkFocusInitial>Guardar</button>-->
    </div>
  </div>

  <!--Estado procesando-->
  <div *ngIf="datosOferta.estado !== 'Aceptada'">
    <p>Su oferta esta en <b>proceso de activacion</b> o ha <b>expirado</b></p>
    <div class="d-flex align-items-end flex-column">
      <button mat-button (click)="onNoClick()">Aceptar</button>
    </div>
  </div>
</div>