mat-card{
    width:90%;
    padding: 40px;
    margin: auto;
    box-shadow: 0px 0px 3px grey;
}
.titulo{
    margin: 0 auto;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
mat-select{
    display:inline-block;
    flex-direction: column;
    margin-right: 100px;
}
mat-form-field{
    margin-right: 20px;
    margin-left: 0px;
}

mat-label, mat-radio-button{
    margin-right: 20px;
}
/* Botones */
.btnCompletar{
    left: 90px;
    text-align: end;
}
.btnExp{
    text-align: end;
    left: 80px;  
}
.siguiente{
    text-align: end;
    top: 20px;
    left:50px;
}
.atras{
    text-align: end;
    top: 20px;
}