<app-nav-egresados> </app-nav-egresados>
<div *ngIf="estadoCompletar==false">
  <form class="completarRegistro">
    <mat-card>
      <mat-toolbar color="primary">
        <span class="titulo">Completar información</span>
      </mat-toolbar>
      <mat-horizontal-stepper [linear]="isLinear" class="stepper">
        <mat-step>
          <ng-template matStepLabel>Referencias personales</ng-template>
          <app-referido [cantidadHijos]=cantHijos #referido (darReferido)="addToList($event)"></app-referido>
          <div class="mat-elevation-z8" *ngIf="referidos.length>0">
            <table mat-table [dataSource]="dataReferidos" >
              <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
              </ng-container>
              <ng-container matColumnDef="parentesco">
                <th mat-header-cell *matHeaderCellDef> Parentesco </th>
                <td mat-cell *matCellDef="let element"> {{element.parentesco}} </td>
              </ng-container>
              <ng-container matColumnDef="telefono_movil">
                <th mat-header-cell *matHeaderCellDef> Celular </th>
                <td mat-cell *matCellDef="let element"> {{element.telefono_movil}} </td>
              </ng-container>
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-danger" mat-icon-button matSuffix (click)="eliminarReferido(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnas"></tr>
              <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <button (click)="validarSigReferido()" color="primary" class="botones" mat-button mat-raised-button
            matStepperNext>Siguiente</button>
        </mat-step>
        <div *ngIf="verificarCantReferidos()">
          <mat-step>
            <ng-template matStepLabel>Trabajo actual</ng-template>
            <mat-label>¿Labora actualmente?: </mat-label>
            <mat-radio-group [formControl]="Labora_Actualmente" (change)=validar()>
              <mat-radio-button value=0>Si</mat-radio-button>
              <mat-radio-button value=1>No</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="Labora_Actualmente.value=='0'">
              <app-explaboral  #expActual (darExperiencia)="addExpActual($event)">
              </app-explaboral>
              <div class="mat-elevation-z8" *ngIf="expActuales.length>0"> 
                <table mat-table [dataSource]="dataExpActual">
                  <ng-container matColumnDef="cargo_nombre">
                    <th mat-header-cell *matHeaderCellDef> Cargo </th>
                    <td mat-cell *matCellDef="let element"> {{element.cargo_nombre}} </td>
                  </ng-container>
                  <ng-container matColumnDef="nombre_empresa">
                    <th mat-header-cell *matHeaderCellDef> Empresa </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre_empresa}} </td>
                  </ng-container>
                  <ng-container matColumnDef="sector">
                    <th mat-header-cell *matHeaderCellDef> Sector </th>
                    <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
                  </ng-container>
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                      <button class="btn btn-danger" mat-icon-button matSuffix (click)="eliminarExpActual(element)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="columnasExpActual"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnasExpActual;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
              <button class="botones" mat-button mat-raised-button matStepperPrevious>Atrás</button>
            <button class="botones" color="primary" mat-button mat-raised-button matStepperNext>Siguiente</button>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Comentarios y sugerencias</ng-template>
            <app-comentarios #comentario></app-comentarios>
            <mat-label>¿Se esta graduando de otra carrera en esta fecha?: </mat-label>
            <mat-radio-group [formControl]="otroGrado">
              <mat-radio-button value=0>Si</mat-radio-button>
              <mat-radio-button value=1>No</mat-radio-button>
            </mat-radio-group>
            <button class="botones" mat-button mat-raised-button matStepperPrevious>Atrás</button>
            <button class="botones" color="primary" *ngIf="otroGrado.value=='0'" mat-button mat-raised-button
              matStepperNext>Siguiente</button>
            <button class="botones" color="primary" *ngIf="otroGrado.value=='1'" mat-raised-button
              (click)="enviarDatos()">Completar información</button>
          </mat-step>
          <mat-step *ngIf="otroGrado.value=='0'">
            <ng-template matStepLabel>Grado adicional</ng-template>
            <mat-card>
              <form>
                <mat-card-title>Grado adicional</mat-card-title>
                <app-programa #programaAdicional></app-programa>
                <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                  <mat-label>Mención</mat-label>
                  <input matInput [formControl]="mencionAdicional">
                </mat-form-field>
                <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                  <mat-label>Comentarios, sugerencias sobre el programa del cual es egresado:</mat-label>
                  <textarea matInput placeholder="Escribe el comentario aquí"
                    [formControl]="ComentProgramaAdicional"> </textarea>
                  <mat-error *ngIf="ComentProgramaAdicional.hasError('required')">Campo requerido</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                  <mat-label>¿Que docente del programa considera que influyó positivamente en su formación como
                    profesional?:</mat-label>
                  <input matInput placeholder="Escribe el comentario aquí" [formControl]="DocenteInfluenciaAdicional"
                    required>
                    <mat-error *ngIf="DocenteInfluenciaAdicional.hasError('required')">Campo requerido</mat-error>
                </mat-form-field>
              </form>
            </mat-card>
            <button class="botones" mat-button mat-raised-button matStepperPrevious>Atrás</button>
            <button class="botones" color="primary" mat-raised-button (click)="enviarDatos()">Completar
              información</button>
          </mat-step>
        </div>
      </mat-horizontal-stepper>
    </mat-card>
  </form>
</div>
<div *ngIf="estadoCompletar==true">
  <mat-card>
    <mat-toolbar color="primary">
      <span class="titulo">Completar información</span>
    </mat-toolbar>
    <mat-card-title>Usted ya completó la información adicional.</mat-card-title>
    <!--mat-card-content>
      <p> Usted ya completó la información adicional. </p>
    </mat-card-content-->
  </mat-card>
</div>