<div id="base" >
  <app-navbar-home-ofertas></app-navbar-home-ofertas>
  <div id="row" class="row " >
    <mat-toolbar class="col-12 col-md-8 offset-md-2 " color="primary">
      <span class="titulo">Formulario de registro</span>
    </mat-toolbar>
    <div id="content" class="col-12 col-md-8 offset-md-2"  >
      <form id="form" #registerForm="ngForm" (ngSubmit)="registrarEgresado()" >
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step>
            <ng-template matStepLabel>Información personal</ng-template>
            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Nombres</mat-label>
                <input id="nombre" matInput placeholder="Nombres" #name="ngModel" name="nombre"
                  [(ngModel)]="user.nombres" required pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]{1,50}">
                <mat-error *ngIf="user.nombres == ''">Ingresa tu nombre.</mat-error>
                <mat-error *ngIf="user.nombres != null && user.nombres != ''">Los campo solo deben contener letras.</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Apellidos" #name="ngModel" name="apellidos" [(ngModel)]="user.apellidos"
                  required pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]{1,50}">
                  <mat-error *ngIf="user.apellidos == ''">Ingresa tu apellido.</mat-error>
                  <mat-error *ngIf="user.apellidos != null && user.apellidos != ''">Los campo solo deben contener letras.</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
            <mat-form-field appearance="outline" class="form-group col-md-6 ">
              <mat-label>Tipo de documento</mat-label>
              <mat-select  [formControl]="tipoIdentificacionFormControl" required (selectionChange)="identificacion(tipoIdentificacionFormControl.value)">
                <mat-option *ngFor="let tipoIdentificacion of tiposIdentificacion" [value]="tipoIdentificacion">
                  {{tipoIdentificacion}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="tipoIdentificacionFormControl.hasError('required')">Ingresa tu tipo de identificación.</mat-error>
            </mat-form-field>

            
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Identificación</mat-label>
                <input matInput [readonly]='!estdoTipoID' (input)="validarIdentificacion()" type="text" 
                  placeholder="Identificación" #name="ngModel" name="identificacion" [(ngModel)]="user.identificacion" pattern="{{patternIdentificacion}}{6,{{tamanioIdentificacio}}}"
                  required >
                <mat-error *ngIf="tipoIdentificacionFormControl.value == ''"> Ingresa tu tipo de documento</mat-error>
                <mat-error *ngIf="user.identificacion == '' && tipoIdentificacionFormControl.value != ''">Ingresa tu identificación.
                </mat-error>
                <mat-error *ngIf="user.identificacion != ''">{{mesajeTipoID}}
                </mat-error>
              </mat-form-field>


              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Confirmar número de identificación</mat-label>
                <input matInput [readonly]='!estdoTipoID' (input)="validarIdentificacion()" placeholder="Confirmar numero de Identificación"
                   [formControl]="identificacionFormControl" required pattern="{{patternIdentificacion}}{6,{{tamanioIdentificacio}}}">
                <mat-error *ngIf="tipoIdentificacionFormControl.value == ''"> Ingresa tu tipo de documento</mat-error>
                <mat-error *ngIf="identificacionFormControl.hasError('required') && tipoIdentificacionFormControl.value != ''">Verifica tu identificación.
                </mat-error>
                <mat-error *ngIf="identificacionFormControl.hasError('pattern')">{{mesajeTipoID}}
                </mat-error>
                
              </mat-form-field>
              <div class="form-group col-md-6 ">
              <p id="msgError" *ngIf="msgError != ''">{{msgErrorIdentificacion}}</p>
            </div>
            </div>

            <div class="let">
              <h5 >Lugar de expedición del documento</h5></div>
            <div class="row">
              <mat-form-field class="form-group col-md-6 " floatLabel="auto" appearance="outline">

                <mat-label>{{pais}} de expedición del documento</mat-label>
                <mat-select [formControl]="paisExpedicionFormControl" required
                  (selectionChange)="obtenerDepartamentoExp(paisExpedicionFormControl.value)">
                  <mat-option *ngFor="let pais of paises" [value]="pais.id_aut_pais">
                    {{pais.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="paisExpedicionFormControl.hasError('required')">Ingresa el {{pais}} de expedición del documento.</mat-error>
              </mat-form-field>

              <mat-form-field class="form-group col-md-6 " floatLabel="auto" appearance="outline">
                <mat-label>{{departamento}} de expedición del documento</mat-label>
                <mat-select [formControl]="departamentoExpedicionFormControl" required
                  (selectionChange)="obtenerCiudadExp(departamentoExpedicionFormControl.value)">
                  <mat-option *ngFor="let departamento of departamentosExp" [value]="departamento.id_aut_dep">
                    {{departamento.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="departamentoExpedicionFormControl.hasError('required')">Ingresa el {{departamento}} de expedición del documento.
                </mat-error>
              </mat-form-field>

            </div>
            <div class="row">
              <mat-form-field class="form-group col-md-6 " floatLabel="auto" appearance="outline">
                <mat-label>{{municipio}} de expedición del documento</mat-label>
                <mat-select [formControl]="ciudadExpedicionFormControl" required>
                  <mat-option *ngFor="let ciudad of ciudadesExp" [value]="ciudad.id_aut_ciudad">
                    {{ciudad.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="ciudadExpedicionFormControl.hasError('required')">Ingresa el {{municipio}} de expedicón del documento.</mat-error>
              </mat-form-field>
            </div>

            <h5>Fecha y lugar de nacimiento</h5>
            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput [min]="minDateN" [max]="maxDateN" [matDatepicker]="dp4"
                  [formControl]="fechaNFormControl" placeholder="Fecha de Nacimiento" required readonly>
                <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                <mat-error *ngIf="fechaNFormControl.hasError('required')">Ingresa tu fecha de nacimiento.</mat-error>
              </mat-form-field>

              <mat-form-field class="form-group col-md-6 " floatLabel="auto" appearance="outline">
                <mat-label>{{pais}} de nacimiento</mat-label>
                <mat-select [formControl]="paisNacimientoFormControl" required
                  (selectionChange)="obtenerDepartamentoNac(paisNacimientoFormControl.value)">
                  <mat-option *ngFor="let pais of paises" [value]="pais.id_aut_pais">
                    {{pais.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="paisNacimientoFormControl.hasError('required')">Ingresa tu {{pais}} de nacimiento.</mat-error>
              </mat-form-field>
            </div>
            <div class="row">

              <mat-form-field class="form-group col-md-6 " floatLabel="auto" appearance="outline">
                <mat-label>{{departamento}} de nacimiento</mat-label>
                <mat-select [formControl]="departamentoNacimientoFormControl" required
                  (selectionChange)="obtenerCiudadNac(departamentoNacimientoFormControl.value)">
                  <mat-option *ngFor="let departamento of departamentosNac" [value]="departamento.id_aut_dep">
                    {{departamento.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="departamentoNacimientoFormControl.hasError('required')">Ingresa tu {{departamento}} de nacimiento.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-group col-md-6 " floatLabel="auto" appearance="outline">
                <mat-label>{{municipio}} de nacimiento</mat-label>
                <mat-select [formControl]="ciudadNacimientoFormControl" required>
                  <mat-option *ngFor="let ciudad of ciudadesNac" [value]="ciudad.id_aut_ciudad">
                    {{ciudad.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="ciudadNacimientoFormControl.hasError('required')">Ingresa tu {{municipio}} de nacimiento.</mat-error>
              </mat-form-field>
            </div>
            
            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Número de hijos</mat-label>
                <input (change)=" validarNumeroHijos()" type="number" min="0" max="10" matInput 
                  placeholder="Número de hijos" #name="ngModel" name="num_hijos" [(ngModel)]="user.num_hijos"  pattern = "[0-9]{1,5}">
                  <mat-error *ngIf=" user.num_hijos != ''">El campo solo permite números.</mat-error>
              </mat-form-field>

              <mat-radio-group #name="ngModel" name="genero" [(ngModel)]="user.genero" class="form-group col-md-6 ">
                <h5>Género:*</h5>
                <mat-error *ngIf="user.genero.length == 0">Selecciona tu género.</mat-error>
                <mat-radio-button *ngFor="let genero of generos" [value]="genero">
                  {{genero}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="row">
              <div class="form-group col-md-6 ">
                <h5>Discapacidad:*</h5>
                <mat-error *ngIf="discapacidad.length == 0">selecciona tu(s) discapacidad(es). </mat-error>
                <mat-checkbox  class="margen-discapacidad" [disabled]="onEditMode" [checked]="enDiscapacidadEgresado(discapacidad.idDiscapacidad)"
                  labelposition="after" *ngFor="let discapacidad of discapacidades let index = index"
                  name="discapacidades" (change)="onCheckDiscapacidad(discapacidad, $event.checked)"
                  (change)="otraDiscapacidad(discapacidad,$event.checked)"
                  (change)="discapacidadesUsuario(discapacidad.idDiscapacidad,index,$event)">
                  {{discapacidad.Nombre}}
                </mat-checkbox>
              </div>

              <mat-form-field *ngIf="respuestaDiscapacidad" appearance="outline" class="form-group col-md-6 ">
                <mat-label>Discapacidad</mat-label>
                <input matInput placeholder="Discapacidad" #name="ngModel" name="otraDiscapacidad" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]{1,30}"
                  [(ngModel)]="user.otraDiscapacidad">
                <mat-error *ngIf="user.otraDiscapacidad == ''">Ingresa tu discapacidad.</mat-error>
                <mat-error *ngIf="user.otraDiscapacidad != ''">El campo solo debe contener letras.</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Estado civil</mat-label>
                <mat-select placeholder="Estado Civil" [formControl]="estadoCFormControl" required>
                  <mat-option *ngFor="let estadoC of estadosC" [value]="estadoC">
                    {{estadoC}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="estadoCFormControl.hasError('required')">Ingresa tu estado civil.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Grupo étnico</mat-label>
                <mat-select [formControl]="grupoEFormControl" required>
                  <mat-option *ngFor="let grupoE of gruposE" [value]="grupoE">
                    {{grupoE}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="grupoEFormControl.hasError('required')">Ingresa tu estado civil.</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <div class="form-group col-md-6 "></div>
              <div class="botonesStepper form-group col-md-6 ">
                <button id="1" type="button" mat-raised-button color="primary" matStepperNext>Siguiente</button>
              </div>
            </div>

          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Información académica</ng-template>
            <mat-radio-group name="nivel_estudio" [formControl]="nivelAFormControl" required (click)="obtenerSedes()">
              <h5>Nivel académico*</h5>
              <mat-error *ngIf="nivelAFormControl.hasError('required')">Selecciona tu nivel academico.</mat-error>
              <mat-radio-button *ngFor="let nivel_estudio of niveles_academicos" [value]="nivel_estudio.id_aut_estudio">
                {{nivel_estudio.nombre}}
              </mat-radio-button>
            </mat-radio-group>
            <div class="row" >
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Sede</mat-label>
                <mat-select [formControl]="sedeFormControl" required (selectionChange)="obtenerFacultad()">
                  <mat-option *ngFor="let sede of sedes" [value]="sede.id_aut_sede">
                   {{sede.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="sedeFormControl.hasError('required')">Ingresa tu sede.</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Facultad</mat-label>
                <mat-select [formControl]="facultadFormControl" required (selectionChange)="obtenerPrograma()">
                  <mat-option  *ngFor="let facultad of facultades" [value]="facultad.id_aut_facultad">
                    {{facultad.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="facultadFormControl.hasError('required')">Ingresa tu facultad.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Programa</mat-label>
                <mat-select [formControl]="programaFormControl" required (selectionChange)="obtenerTitulo()">
                  <mat-option *ngFor="let programa of programas" [value]="programa.id_aut_programa">
                    {{programa.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="programaFormControl.hasError('required')">Ingresa tu programa.</mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="existenTitulos()" appearance="outline" class="form-group col-md-6 ">
                <mat-label>Titulo</mat-label>
                <mat-select [formControl]="tituloFormControl" required>
                  <mat-option *ngFor="let titulo of titulos" [value]="titulo.id_aut_titulo">
                    {{titulo.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="tituloFormControl.hasError('required')">Ingresa tu titulo.</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Fecha de graduación</mat-label>
                <input id="gradoA" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp3" (dateInput)="grado()"
                  [formControl]="fechaGFormControl" placeholder="Fecha de Graduación" required readonly>
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                <mat-error *ngIf="fechaGFormControl.hasError('required')">Ingresa tu fecha de graduación.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Año de graduación</mat-label>
                <mat-select [disabled]="!bloquearAnio" [formControl]="anioGFormControl" required>
                  <mat-option *ngFor="let anio of anios" [value]="anio">
                    {{anio}}
                  </mat-option>
                  
                </mat-select>
                <mat-error *ngIf="anioGFormControl.hasError('required')">Ingresa tu año de graduación.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Mención de honor</mat-label>
                <input matInput placeholder="Mención" #name="ngModel" name="mencion" [(ngModel)]="user.mencion" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]{1,50}">
                <mat-error *ngIf="user.Mencion != ''">El campo solo debe contener letras.
                </mat-error>
              </mat-form-field>
              <div class="form-group col-md-6 "></div>
              
            </div>

            <div class="row">
              <div class="botonesStepper form-group col-md-6 ">
                <button type="button" mat-raised-button color="primary" matStepperPrevious>Atras</button>
              </div>
              <div class="botonesStepper form-group col-md-6 ">
                <button type="button" mat-raised-button color="primary" matStepperNext>Siguiente</button>
              </div>
            </div>
          </mat-step>

          <mat-step>

            <ng-template matStepLabel>Información de contacto</ng-template>
            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Celular</mat-label>
                <input matInput type="text" pattern="[3][0-9]{9}" placeholder="Celular" #name="ngModel" name="celular"
                  [(ngModel)]="user.celular" required>
                <mat-error *ngIf="user.celular == ''">Ingresa tu número de celular.</mat-error>
                  <mat-error *ngIf="user.celular != null && user.celular != null">El número de celular solo debe contener números.</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Teléfono fijo</mat-label>
                <input matInput type="text" pattern="[0-9]{7,10}" placeholder="Teléfono fijo" #name="ngModel"
                  name="telefono_fijo" [(ngModel)]="user.telefono_fijo" required>
                <mat-error *ngIf="user.telefono_fijo == ''">Ingresa tu número de teléfono fijo.</mat-error>
                  <mat-error *ngIf="user.telefono_fijo != ''">El campo solo debe contener números.</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" placeholder="Correo Electronico " [formControl]="emailFormControl" required
                  pattern="^[a-zA-Z0-9.\-_]{1,}@[a-zA-Z.\-]{2,}[.]{1}[a-zA-Z]{2,}$">
                <mat-error *ngIf="emailFormControl.hasError('pattern')">
                  Solo se permite letras (a-z), números (0-9), guion (- _) y punto(.). Ejemplo: ejemplo@dominio.com.
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Ingresa tu correo electrónico
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Correo electrónico alternativo</mat-label>
                <input (input)="validarCorreos()" matInput placeholder="Correo Electrónico Alternativo"
                  [formControl]="emailFormControl2" pattern="^[a-zA-Z0-9.\-_]{1,}@[a-zA-Z.\-]{2,}[.]{1}[a-zA-Z]{2,}$">
                <mat-error *ngIf=" emailFormControl2.hasError('pattern') ">
                  Solo se permite letras (a-z), números (0-9), guion (- _) y punto(.). Ejemplo: ejemplo@dominio.com.
                </mat-error>
              </mat-form-field>
              <mat-error>
                <p id="msgError" *ngIf="msgError != ''">{{msgErrorcorreo}}</p>
              </mat-error>

            </div>

            <h5>Lugar y dirección de residencia</h5>
            <div class="row">

              <mat-form-field class="form-group col-md-6 " floatLabel="auto" appearance="outline">
                <mat-label>{{pais}} de residencia</mat-label>
                <mat-select [formControl]="paisResidenciaFormControl" required
                  (selectionChange)="obtenerDepartamentoRes(paisResidenciaFormControl.value)">
                  <mat-option *ngFor="let pais of paises" [value]="pais.id_aut_pais">
                    {{pais.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="paisResidenciaFormControl.hasError('required')">Ingresa tu {{pais}} de residencia.</mat-error>
              </mat-form-field>

              <mat-form-field class="form-group col-md-6 " floatLabel="auto" appearance="outline">
                <mat-label>{{departamento}} de residencia</mat-label>
                <mat-select [formControl]="departamentoResidenciaFormControl" required
                  (selectionChange)="obtenerCiudadRes(departamentoResidenciaFormControl.value)">
                  <mat-option *ngFor="let departamento of departamentosRes" [value]="departamento.id_aut_dep">
                    {{departamento.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="departamentoResidenciaFormControl.hasError('required')">Ingresa tu {{departamento}} de residencia.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">

              <mat-form-field class="form-group col-md-6 " floatLabel="auto" appearance="outline">
                <mat-label>{{municipio}} de residencia</mat-label>
                <mat-select [formControl]="ciudadResidenciaFormControl" required>
                  <mat-option *ngFor="let ciudad of ciudadesRes" [value]="ciudad.id_aut_ciudad">
                    {{ciudad.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="ciudadResidenciaFormControl.hasError('required')">Ingresa tu {{municipio}} de residencia.</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Dirección de residencia</mat-label>
                <input matInput placeholder="Dirección de residencia" #name="ngModel" name="direccion"
                  [(ngModel)]="user.direccion" required>
                <mat-error *ngIf="user.direccion != null">Ingresa tu dirección de residencia.</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <div class="botonesStepper form-group col-md-6 ">
                <button type="button" mat-raised-button color="primary" matStepperPrevious>Atras</button>
              </div>
              <div class="botonesStepper form-group col-md-6 ">
                <button aling="center" type="submit"  [disabled]="btnGuardar" mat-raised-button color="primary">Guardar</button>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>

      </form>

    </div>
  </div>

</div>