
<app-nav-egresados></app-nav-egresados>
<div id="base">
  <div id="imgBandera"></div>
  <app-navbar-home-ofertas></app-navbar-home-ofertas>
  <div id="row" class="row ">
    <mat-toolbar class="col-12 col-md-8 offset-md-2 " color="primary">
      <span class="titulo">Formulario de Registro</span>
    </mat-toolbar>
    <div id="content" class="col-12 col-md-8 offset-md-2">
      <form id="form" #registerForm="ngForm" (ngSubmit)="register()">
        <mat-horizontal-stepper [linear]="isLinear" class="stepper">
          <mat-step>
            <ng-template matStepLabel>Info. Personal</ng-template>
            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Nombres" #name="ngModel" name="nombre" [(ngModel)]="user.nombres" required>
                <mat-error *ngIf="user.nombres != null">Por favor ingresar un nombre</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Apellidos" #name="ngModel" name="apellidos" [(ngModel)]="user.apellidos"
                  required>
                <mat-error *ngIf="user.apellidos != null">Por favor ingresar apellido</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Identificación</mat-label>
                <input matInput type="text" pattern="[1-9][0-9]{6,9}" placeholder="Identificación" #name="ngModel"
                  name="identificacion" [(ngModel)]="user.identificacion" required>
                <mat-error *ngIf="user.identificacion != null">Por favor ingresar un número de identificación
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Confirmar numero de Identificació</mat-label>
                <input matInput placeholder="Confirmar numero de Identificación" pattern="[1-9][0-9]{6,9}"
                  [formControl]="identificacionFormControl" required>
                <mat-error *ngIf="identificacionFormControl.hasError('required')">Ingresar un numero de identificación
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [min]="minDateN" [max]="maxDateN" [matDatepicker]="dp4"
                  [formControl]="fechaNFormControl" placeholder="Fecha de Nacimiento" required>
                <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                <mat-error *ngIf="fechaNFormControl.hasError('required')">Por favor selecionar una fecha</mat-error>
              </mat-form-field>

              <div class="form-group col-md-6 ">
                <mat-error *ngIf="validarIdentificacion()">Los numeros de identificación no coincide</mat-error>
              </div>

            </div>

            <div class="row">
              <div class="form-group col-md-6 ">
                <h5>Lugar de nacimiento</h5>
                <app-localizacion #lugarNacimiento></app-localizacion>
              </div>
              <div class="form-group col-md-6 ">
                <h5>Lugar Expedición:</h5>
                <app-localizacion #lugarExpedicion></app-localizacion>
              </div>

            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Número de hijos</mat-label>
                <input type="number" min="0" max="10" matInput placeholder="Número de hijos" #name="ngModel"
                  name="num_hijos" [(ngModel)]="user.num_hijos" required>
              </mat-form-field>

              <mat-radio-group #name="ngModel" name="genero" [(ngModel)]="user.genero" class="form-group col-md-6 ">
                <h5>Genero:*</h5>
                <mat-error *ngIf="user.genero.length == 0">Por favor seleccione una opción</mat-error>
                <mat-radio-button *ngFor="let genero of generos" [value]="genero">
                  {{genero}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="row">
              <div class="form-group col-md-6 ">
              <h5>Discapacidad:*</h5>
              <mat-error *ngIf="discapacidad.length == 0">Por favor seleccione una opción</mat-error>
              <mat-checkbox *ngFor="let discapacidad of discapacidades" [value]="discapacidad.idDiscapacidad"
                (change)="discapacidadesUsuario(discapacidad.idDiscapacidad)" (change)="otraDiscapacidad(discapacidad.Nombre)" [labelPosition]="after" required>
                {{discapacidad.Nombre}}
              </mat-checkbox>
            </div>

            <mat-form-field *ngIf="respuestaDiscapacidad" appearance="outline" class="form-group col-md-6 ">
                <mat-label>Discapacidad</mat-label>
                <input matInput placeholder="Discapacidad" #name="ngModel" name="otraDiscapacidad" [(ngModel)]="user.otraDiscapacidad">
                <mat-error *ngIf="null">Por favor ingresar un apellido</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Estado Civil</mat-label>
                <mat-select placeholder="Estado Civil" [formControl]="estadoCFormControl" required>
                  <mat-option *ngFor="let estadoC of estadosC" [value]="estadoC">
                    {{estadoC}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="estadoCFormControl.hasError('required')">Por favor seleccionar un estado civil
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Grupo étnico</mat-label>
                <mat-select [formControl]="grupoEFormControl" required>
                  <mat-option *ngFor="let grupoE of gruposE" [value]="grupoE">
                    {{grupoE}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="grupoEFormControl.hasError('required')">Por favor seleccionar una opción</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <div class="form-group col-md-6 "></div>
              <div class="botonesStepper form-group col-md-6 ">
                <button id="1" type="button" mat-raised-button color="primary" matStepperNext>Siguiente</button>
              </div>
            </div>

          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Info. Academica</ng-template>
            <mat-radio-group name="nivel_estudio" [formControl]="nivelAFormControl" required>
              <h5>Nivel Academico*</h5>
              <mat-error *ngIf="nivelAFormControl.hasError('required')">Por favor seleccionar una opción</mat-error>
              <mat-radio-button *ngFor="let nivel_estudio of niveles_academicos" [value]="nivel_estudio.id_aut_estudio">
                {{nivel_estudio.nombre}}
              </mat-radio-button>
            </mat-radio-group>
            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Sede</mat-label>
                <mat-select [formControl]="sedeFormControl" required (selectionChange)="obtenerFacultad()">
                  <mat-option *ngFor="let sede of sedes" [value]="sede.id_aut_sede">
                    {{sede.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="sedeFormControl.hasError('required')">Por favor seleccionar una facultad</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Facultad</mat-label>
                <mat-select [formControl]="facultadFormControl" required (selectionChange)="obtenerPrograma()">
                  <mat-option *ngFor="let facultad of facultades" [value]="facultad.id_aut_facultad">
                    {{facultad.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="facultadFormControl.hasError('required')">Por favor seleccionar una facultad
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Programa</mat-label>
                <mat-select [formControl]="programaFormControl" required>
                  <mat-option *ngFor="let programa of programas" [value]="programa.id_aut_programa">
                    {{programa.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="programaFormControl.hasError('required')">Por favor seleccionar un programa</mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="existenTitulos()" appearance="outline"
                class="form-group col-md-6 ">
                <mat-label>Titulo</mat-label>
                <mat-select [formControl]="tituloFormControl" required>
                  <mat-option *ngFor="let titulo of titulos" [value]="titulo">
                    {{titulo}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="tituloFormControl.hasError('required')">Por favor seleccionar un titulo</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Fecha de Graduación</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp3" [formControl]="fechaGFormControl"
                  placeholder="Fecha de Graduación">
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                <mat-error *ngIf="fechaGFormControl.hasError('required')">Por favor seleccionar una fecha de grado
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Año de graduación</mat-label>
                <mat-select [formControl]="anioGFormControl" required>
                  <mat-option *ngFor="let anio of anios" [value]="anio">
                    {{anio}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="anioGFormControl.hasError('required')">Por favor seleccionar un año de grado
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Mención</mat-label>
                <input matInput placeholder="Mensión" #name="ngModel" name="mension" [(ngModel)]="user.mension">
              </mat-form-field>
              <div class="form-group col-md-6 "></div>

            </div>

            <div class="row">
              <div class="botonesStepper form-group col-md-6 ">
                <button type="button" mat-raised-button color="primary" matStepperPrevious>Atras</button>
              </div>
              <div class="botonesStepper form-group col-md-6 ">
                <button type="button" mat-raised-button color="primary" matStepperNext>Siguiente</button>
              </div>
            </div>
          </mat-step>

          <mat-step>

            <ng-template matStepLabel>Info. de Contacto</ng-template>
            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Celular</mat-label>
                <input matInput type="text" pattern="[3][0-9]{9}" placeholder="Celular" #name="ngModel" name="celular"
                  [(ngModel)]="user.celular" required>
                <mat-error *ngIf="user.celular != null">Por favor ingresar un número celular</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Teléfono fijo</mat-label>
                <input matInput type="text" pattern="[0-9]{7,10}" placeholder="Teléfono fijo" #name="ngModel"
                  name="telefono_fijo" [(ngModel)]="user.telefono_fijo" required>
                <mat-error *ngIf="user.telefono_fijo != null">Por favor ingresar un número de teléfono fijo</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput type="email" placeholder="Correo Electronico " [formControl]="emailFormControl" required
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                <mat-error *ngIf="emailFormControl.hasError('pattern')">
                  Por favor ingresar una dirección de correo correcta. ej: ejemplo@gmail.com
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Correo electronico<strong> requerido</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Correo Electrónico Alternativo</mat-label>
                <input matInput placeholder="Correo Electrónico Alternativo" [formControl]="emailFormControl2" required
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                <mat-error *ngIf="emailFormControl2.hasError('email') ">
                  Por favor ingresar una dirección de correo correcta
                </mat-error>
                <mat-error *ngIf="emailFormControl2.hasError('pattern') ">
                  Por favor ingresar una dirección de correo correcta. ej: ejemplo@gmail.com
                </mat-error>
                <mat-error *ngIf="emailFormControl2.hasError('required')">
                  Correo electronico<strong> requerido</strong>
                </mat-error>
              </mat-form-field>

            </div>

            <div class="row">
              <div class="form-group col-md-6 ">
                <h5>Lugar de Residencia</h5>
                <app-localizacion #lugarResidencia></app-localizacion>
              </div>

              <mat-form-field appearance="outline" class="form-group col-md-6 ">
                <mat-label>Dirección de residencia</mat-label>
                <input matInput placeholder="" #name="ngModel" name="direccion" [(ngModel)]="user.direccion" required>
                <mat-error *ngIf="user.direccion != null">Por favor ingresar una dirección</mat-error>
              </mat-form-field>
            </div>


            <div class="row">
              <div class="botonesStepper form-group col-md-6 ">
                <button type="button" mat-raised-button color="primary" matStepperPrevious>Atras</button>
              </div>
              <div class="botonesStepper form-group col-md-6 ">
                <button aling="center" type="submit" mat-raised-button color="primary">Guardar</button>
              </div>
            </div>

          </mat-step>
        </mat-horizontal-stepper>
        <p id="msgError" *ngIf="msgError != ''">{{msgError}}</p>
      </form>

    </div>
  </div>

</div>