<div id="Encabezado" class="row col-auto border-bottom">
  <div class="col-md-6">
      <a class="navbar-brand" href="#">
          <img src="../assets/img/Titulo.jpg" alt="">
      </a>

  </div>

  <div class="col-md-6 ">

      <div class="row justify-content-end p-1 pt-4">
          <a href="#">
              <img src="../assets/icons/iconfb.png" alt="">
          </a>
      </div>
      <div class="row justify-content-end p-1">
          <a href="#">
              <img src="../assets/icons/icontw.png" alt="">
          </a>
      </div>
      <div class="row justify-content-end p-1">
          <a href="#">
              <img src="../assets/icons/icontw.png" alt="">
          </a>
      </div>
  </div>
</div>
<nav id="navBar" class="navbar navbar-light bg-light shadow border-bottom sticky-top">
  <div class="row">
      <ul class="nav col-6">
          <li class="nav-item">
              <a class="nav-link active" href="#">Inicio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Ofertas Laborales</a>
          </li>
      </ul>

      <ul class="nav justify-content-end col-6">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                  aria-expanded="false">Registrarse</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Egresado</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Empresa</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Iniciar Sesion</a>
          </li>
      </ul>
  </div>
</nav>

<div class="container mt-3 mb-3" role="main">
<app-listar-solicitudes-empresa></app-listar-solicitudes-empresa>
</div>

<footer class="page-footer font-small special-color-dark pt-4 border-top">


  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <img src="../assets/icons/iconfb.png" alt="">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <img src="../assets/icons/icontw.png" alt="">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <img src="../assets/icons/iconin.png" alt="">
        </a>
      </li>

    </ul>


  </div>



  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://www.unicauca.edu.co/versionP/">Universidad Del Cauca</a>
  </div>


</footer>