<app-header></app-header>
<app-navbar-empresa [id]="id"></app-navbar-empresa>
<div class="container-fluid">
  <form [formGroup]="formRegistroEmp">
      <div class="row mt-4">
        <div class="col-3">
            <mat-card >
                    <div id="a" class="row justify-content-end">
                            <div class="col-xs-1">
                                    <label id="labelImagen" for="file" class="btn">
                                            <img src="../assets/img/edit2.jpg"  class="round" alt="some img">
                                        </label>
                            </div>
                    </div>
                <img mat-card-image id="imgUser" src="../assets/img/logoCuentaEmpresa.png">
                <mat-card-footer>
                        <div class="row justify-content-end">
                                <div class="col-xs-1">
                                        <button id="btnModificar" mat-raised-button color="primary" (click)="modificarDatos()">Modificar Datos</button>
                                </div>

                        </div>
                </mat-card-footer>
              </mat-card>
              <input id="file" type="file" (change)="modificarFoto($event)">
        </div>
        <div class="col-8 offset-xs-1">
            <div class="row">
                    <mat-card  >
                            <mat-card-header>
                              <mat-card-title>Datos</mat-card-title>
                            </mat-card-header>
                            <mat-card-content formGroupName="datos-generales-empresa">
                                    <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nombre de la empresa</label>
                                            <div class="col-sm-9">
                                                <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                    <input  matInput formControlName="nombreEmpresa" >
                                                </mat-form-field>
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nit</label>
                                            <div class="col-sm-9">
                                                <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                    <input  matInput formControlName="nit" >
                                                </mat-form-field>
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Razon social</label>
                                            <div class="col-sm-9">
                                                <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                    <input  matInput formControlName="razonSocial" >
                                                </mat-form-field>
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Año de creacion</label>
                                            <div class="col-sm-9">
                                                <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                    <input  matInput formControlName="anioCreacion" >
                                                </mat-form-field>
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Numero de empleados</label>
                                            <div class="col-sm-3">
                                                <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                    <input  matInput formControlName="numEmpleados" >
                                                </mat-form-field>
                                            </div>
                                            <label class="col-sm-2 col-form-label">Ingresos</label>
                                            <div class="col-sm-4">
                                                    <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                        <input  matInput formControlName="ingresosEmp" >
                                                    </mat-form-field>
                                                </div>
                                    </div>
                                    <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Descripción</label>
                                            <div class="col-sm-9">
                                                <mat-form-field  appearance="outline"   class="tamForm labelCompleto">
                                                        <textarea  matInput  formControlName="descripcionEmpresa" rows="4"></textarea>
                                                </mat-form-field>
                                            </div>
                                    </div>
                                 
                            </mat-card-content>
                        </mat-card>
            </div>
            <div class="row  my-4 ">
                    <mat-card   >
                            <mat-card-header>
                              <mat-card-title>Sectores</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                              <!--Acordeon que contiene la lista desplegable-->
                              <mat-accordion class="alinearAcordion">
                                    <mat-expansion-panel >
                                            <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Sectores
                                                    </mat-panel-title>

                                                </mat-expansion-panel-header>
                                                <!--Contenido-->
                                                <mat-accordion>
                                                        <!--Lista desplegable-->
                                                        <mat-expansion-panel *ngFor="let sector of formRegistroEmp.get('sectores').value.sectores">
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    {{ sector.nombre }}
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <!--Contenido-->
                                                                    <mat-form-field  appearance="outline" class="tamForm labelCompleto" *ngFor="let subSector of sector.subSectores"  floatLabel="auto" >
                                                                            <input  matInput disabled value="{{subSector.nombre}}" >
                                                                    </mat-form-field>
                                                            <!--Fin contenido-->
                                                        </mat-expansion-panel>
                                                        <!--Fin Lista desplegable-->
                                                </mat-accordion>
                                    </mat-expansion-panel>
                              </mat-accordion>
                            </mat-card-content>
                          </mat-card>
            </div>
            <div class="row  my-4 ">
                    <mat-card   >
                            <mat-card-header>
                              <mat-card-title>Localización</mat-card-title>
                            </mat-card-header>
                            <mat-card-content formGroupName="loc-contact-empresa">
                                    <div class="form-group row ">
                                            <label class="col-sm-2 col-form-label">Pais</label>
                                            <div class="col-sm-2">
                                                <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                    <input  matInput formControlName="paisEmp" >
                                                </mat-form-field>
                                            </div>
                                            <label class="col-sm-2 col-form-label">Departamento</label>
                                            <div class="col-sm-2">
                                                <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                    <input  matInput formControlName="departamentoEmp" >
                                                </mat-form-field>
                                            </div>
                                            <label class="col-sm-2 col-form-label">Ciudad</label>
                                            <div class="col-sm-2">
                                                <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                    <input  matInput formControlName="ciudadEmp" >
                                                </mat-form-field>
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Codigo Postal</label>
                                        <div class="col-sm-4">
                                            <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                <input  matInput formControlName="codigoPostalEmp" >
                                            </mat-form-field>
                                        </div>
                                        <label class="col-sm-2 col-form-label">Sitio web</label>
                                        <div class="col-sm-4">
                                            <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                <input  matInput formControlName="sitioWebEmp" >
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Direccion</label>
                                        <div class="col-sm-4">
                                            <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                <input  matInput formControlName="direccionEmp" >
                                            </mat-form-field>
                                        </div>
                                        <label class="col-sm-2 col-form-label">Barrio</label>
                                        <div class="col-sm-4">
                                            <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                <input  matInput formControlName="barrioEmp" >
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Telefono</label>
                                        <div class="col-sm-4">
                                            <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                <input  matInput formControlName="telefonoEmp" >
                                            </mat-form-field>
                                        </div>
                                        <label class="col-sm-2 col-form-label">E-mail</label>
                                        <div class="col-sm-4">
                                            <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                <input  matInput formControlName="emailEmp" >
                                            </mat-form-field>
                                        </div>
                                    </div>
                            
                                </mat-card-content>

                          </mat-card>

            </div>
            <div class="row  my-4 " >
                <mat-card >
                    <mat-card-header>
                        <mat-card-title>Responsable legal</mat-card-title>
                    </mat-card-header>
                    <mat-card-content formGroupName="datos-resp-legal">
                            <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nombres</label>
                                    <div class="col-sm-10">
                                        <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                               <input  matInput formControlName="nombreRespLegal" >
                                        </mat-form-field>
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apellidos</label>
                                    <div class="col-sm-10">
                                        <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                               <input  matInput formControlName="apellidoRespLegal" >
                                        </mat-form-field>
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Telofono fijo</label>
                                    <div class="col-sm-4">
                                        <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                               <input  matInput formControlName="telefonoFijoRespLegal" >
                                        </mat-form-field>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Telefono movil</label>
                                    <div class="col-sm-4">
                                        <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                               <input  matInput formControlName="telefonoMovilRespLegal" >
                                        </mat-form-field>
                                    </div>
                            </div>
                      </mat-card-content>
                </mat-card>
            </div>
            <div class="row  my-4 ">
                    <mat-card >
                            <mat-card-header>
                              <mat-card-title>Responsable de la cuenta de la empresa</mat-card-title>
                            </mat-card-header>
                            <mat-card-content formGroupName="datos-resp-cuenta-empresa">
                                    <div class="form-group row">
                                             <label class="col-sm-2 col-form-label">Nombres</label>
                                            <div class="col-sm-10">
                                                <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                       <input  matInput formControlName="nombreResp" >
                                                </mat-form-field>
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Apellidos</label>
                                           <div class="col-sm-10">
                                               <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                      <input  matInput formControlName="apellidoResp" >
                                               </mat-form-field>
                                           </div>
                                   </div>
                                   <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Cargo</label>
                                       <div class="col-sm-3">
                                           <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                  <input  matInput formControlName="cargo" >
                                           </mat-form-field>
                                       </div>
                                       <label class="col-sm-3 col-form-label">Horario de contacto</label>
                                       <div class="col-sm-4">
                                           <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                  <input  matInput formControlName="horarioContacto" >
                                           </mat-form-field>
                                       </div>
                                    </div>
                                    <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Telefono fijo</label>
                                           <div class="col-sm-3">
                                               <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                      <input  matInput formControlName="telefonoResp" >
                                               </mat-form-field>
                                           </div>
                                           <label class="col-sm-3 col-form-label">Telefono movil</label>
                                           <div class="col-sm-4">
                                               <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                      <input  matInput formControlName="telefonoMovilResp" >
                                               </mat-form-field>
                                           </div>
                                    </div>
                                    <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Direccion de trabajo</label>
                                           <div class="col-sm-9">
                                               <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                      <input  matInput formControlName="direccionTrabajo" >
                                               </mat-form-field>
                                           </div>
                                   </div>
                                   <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">E-mail personal</label>
                                       <div class="col-sm-9">
                                           <mat-form-field  appearance="outline"  class="tamForm labelCompleto" >
                                                  <input  matInput formControlName="emailCorpResp" >
                                           </mat-form-field>
                                       </div>
                               </div>
                            </mat-card-content>
                        </mat-card>
            </div>
        </div>
      </div>
  </form>
</div>
