
/*Cambia el tamaño a los label desabilitados*/
.tamForm ::ng-deep.mat-form-field-infix{
  height: 35px;
  border: 0px;
}
.form-group{
  margin-bottom:0px;
}
mat-card{
  width: 100%;
}
/*Cambia el tamaño a las decripciones*/
.textArea{
  margin-left: 20px;
  width: 96%;
}
/*Cambia al tamaño de los label al maximo posible*/
.labelCompleto{
  display: flex;
  flex-direction: column;
}
/*Cambia el tamaño de las sombras de la card*/
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 20px rgba(0,0,0,0.19),
  0 6px 6px rgba(0,0,0,0.23);
}
/*Cambia el color a los label desabilitados*/
::ng-deep.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label{
  color:rgb(158, 158, 160);
  font-size: 15px;
}
/*Cambia el color del borde los label desabilitados*/
::ng-deep.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color:rgb(158, 158, 160);
}
/*Cambia el color de la letra de los label desabilitados*/
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-input-element:disabled{
  color:rgb(7, 7, 7);
}
/*Oculta el boton file*/
#file{
  border:0px;
  padding: 0px;
  margin: 0px;
  visibility: hidden;
}
#labelImagen{
  padding: 0px;
  margin: 0px;
}
label img{
  margin-top: -1px;
  margin-right: -2px;
  padding: 0px;
  height: 32px;
  width: 32px;
  z-index: 2;
  position: static;
}
mat-card-footer{
  margin-top: -16px;
}
#btnModificar{
  margin-right:14px ;
}
img{
  padding-top: 0px;
}
#a{
  margin-top:-16px;
  padding: 0px;
  height: 0px;
  z-index: 1;
  position: relative;
}
.alinearAcordion{
  margin-left: 35px;
  margin-bottom: 20px;
}
/*centra el spinner*/
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/*Convierte el fondo en gris mientras el spinner este activo*/
.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}
