
.tamForm ::ng-deep.mat-form-field-infix{
  height: 35px;
  border: 0px;
}
.form-group{
  margin-bottom:0px;
}
mat-card{
  width: 100%;
}
.textArea{
  margin-left: 20px;

  width: 96%;
}
.labelCompleto{
  display: flex;
  flex-direction: column;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 20px rgba(0,0,0,0.19),
  0 6px 6px rgba(0,0,0,0.23);

}
/*
::ng-deep.mat-form-field-disabled .mat-form-field-underline
{
  background-image: linear-gradient( to right, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.42) 33%, #4082c5 0 ) !important;
  background-size: 1px 100% !important;
   background-repeat: repeat-x !important;
} */



::ng-deep.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label{
  color:rgb(158, 158, 160);
  font-size: 15px;
}

::ng-deep.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color:rgb(85, 85, 201);
  color:rgb(158, 158, 160);


}
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-input-element:disabled{
  color:rgb(7, 7, 7);
}


#file{
  border:0px;
  padding: 0px;
  margin: 0px;
  visibility: hidden;
}
#labelImagen{
  padding: 0px;
  margin: 0px;
}
label img{
  margin-top: -1px;
  margin-right: -2px;

  padding: 0px;
  height: 32px;
  width: 32px;
  z-index: 2;
  position: static;
}
mat-card-footer{
  margin-top: -16px;
}
#btnModificar{
  margin-right:14px ;
}
img{
  padding-top: 0px;

}
#a{
  margin-top:-16px;
  padding: 0px;
  height: 0px;
  z-index: 1;
  position: relative;
}
.alinearAcordion{
  margin-left: 35px;
  margin-bottom: 20px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}
