<app-nav-egresados> </app-nav-egresados> 
<form class="comentario">
  <mat-tab label = "Comentarios y Sugerencias">
    <div class="wrap">
      <mat-label>¿Volvería a estudiar en la Universidad del Cauca?: </mat-label>
      <mat-radio-group [formControl]="EstudiarUnicauca" required>
        <mat-radio-button value=0>Si</mat-radio-button>
        <mat-radio-button value=1>No</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
      <mat-label *ngIf="EstudiarUnicauca.value==0">¿Que desearía estudiar?</mat-label>
      <mat-select [formControl]="Carrera" required>
        <mat-option [value] = "item" *ngFor="let item of carreras">{{item}}</mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>¿Cuál es la razón?</mat-label>
        <mat-select [formControl]="Razon" required>
          <mat-option [value] = "item" *ngFor="let item of razon">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Comentarios, sugerencias sobre el programa del cual es egresado:</mat-label>
        <textarea matInput placeholder="Escribe el comentario aquí" [formControl]="ComentarioPrograma"> </textarea>  
      </mat-form-field>
      <mat-form-field>
        <mat-label>¿Que espera de la Universidad del Cauca como futuro egresado?:</mat-label>
        <textarea matInput placeholder="Escribe el comentario aquí" [formControl]="ComentarioFuturoEgresado"> </textarea>  
      </mat-form-field>
      <mat-form-field>
        <mat-label>¿Cuál considera que es el docente del programa que influyó positivamente en su formación como profesional?:</mat-label>
        <input matInput placeholder="Docente" [formControl]="DocenteInfluencia" required>
      </mat-form-field>
    </div>
  </mat-tab>
</form>
