<mat-card class="comentario" *ngIf="validarComentarios">
  <mat-card-title>Comentarios</mat-card-title>
  <form [formGroup]="formularioComentario" (ngSubmit)="onSubmit()">
    <div class="comentario" *ngFor="let item of preguntas">
      <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
        <mat-label >{{item.pregunta}}</mat-label>
        <input matInput [formControlName]="item.id_aut_comentario" placeholder="Escribe el comentario aquí" required>
      </mat-form-field> 
    </div>
    <button mat-raised-button color="primary" type="submit"> Agregar comentario</button>
  </form>
</mat-card>