<div class="container">
  <mat-toolbar color="primary">
    Gestion de apoyo
  </mat-toolbar>
  <div class="divider"></div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Registrar apoyo
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #form="ngForm" novalidate (ngSubmit)="guardar(form)">
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-group col-md-4">
            <mat-label>Nombres</mat-label>
            <input
              matInput
              type="text"
              #nombre="ngModel"
              name="nombre"
              [(ngModel)]="model.nombre"
              placeholder="Nombres"
              required
            />
            <mat-error *ngIf="nombre.invalid && nombre.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group col-md-4">
            <mat-label>Apellidos</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="model.apellido"
              #apellido="ngModel"
              name="apellido"
              placeholder="Apellidos"
              required
            />
            <mat-error
              *ngIf="apellido.invalid && apellido.hasError('required')"
            >
              Campo requerido
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group col-md-4">
            <mat-label>Rol apoyo</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="model.rol"
              #nombreApoyo="ngModel"
              name="nombreApoyo"
              placeholder="Rol apoyo"
              required
            />
            <mat-error
              *ngIf="nombreApoyo.invalid && nombreApoyo.hasError('required')"
            >
              El rol del apoyo es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-group col-md-6">
            <mat-label>Correo</mat-label>
            <input
              type="text"
              [(ngModel)]="model.email"
              name="email"
              pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
              #email="ngModel"
              matInput
              placeholder="Correo"
              required
            />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="email.invalid && email.hasError('required')">
              Campo requerido
            </mat-error>
            <mat-error *ngIf="email.invalid && email.hasError('pattern')">
              Debe ingresar un correo válido
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-group col-md-6">
            <mat-label>Correo secundario</mat-label>
            <input
              type="text"
              [(ngModel)]="model.emailSecundario"
              #emailSecundario="ngModel"
              name="emailSecundario"
              matInput
              pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
              placeholder="Correo Secundario"
              required
            />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error
              *ngIf="
                emailSecundario.invalid && emailSecundario.hasError('required')
              "
            >
              Campo requerido
            </mat-error>
            <mat-error
              *ngIf="
                emailSecundario.invalid && emailSecundario.hasError('pattern')
              "
            >
              Debe ingresar un correo válido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-group col-md-5">
            <mat-label>Servicios</mat-label>
            <mat-select [formControl]="rol">
              <mat-option *ngFor="let servicio of servicios" [value]="servicio">
                {{ servicio.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            type="button"
            mat-mini-fab
            color="primary"
            class="col-md-1"
            (click)="agregarRol()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <mat-form-field appearance="outline" class="col-md-6 form-group">
            <mat-label>Servicios seleccionados</mat-label>
            <mat-chip-list #chipList matInput>
              <mat-chip
                *ngFor="let rol of rolesSeleccionados"
                [removable]="true"
                (removed)="eliminarRol(rol)"
              >
                {{ rol.nombre }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <mat-error *ngIf="rolesSeleccionados.length">
              Debe seleccionar un servicio.
            </mat-error>
          </mat-form-field>
        </div>

        <mat-card-actions>
          <button
            type="button"
            mat-button
            class="btn btn-danger"
            (click)="onCancelar(form)"
          >
            Cancelar
          </button>
          <button
            [disabled]="
              !(
                email.valid &&
                nombre.valid &&
                apellido.valid &&
                nombreApoyo.valid &&
                rolesSeleccionados.length
              ) || isSaving
            "
            mat-button
            class="btn btn-primary"
            type="submit"
          >
            Guardar
          </button>
          <div class="spinner-grow text-danger ml-2 mt-2" role="status" *ngIf="isSaving">
            <span class="sr-only">Guardando...</span>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="divider"></div>
  <!-- Listar apoyos -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Listar apoyos
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-lista-apoyos
        #tblApoyos
        (seleccionarApoyo)="abrirDialogo($event)"
      ></app-lista-apoyos>
    </mat-card-content>
  </mat-card>
</div>
