<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
  Informacion:
  <strong>Nombre de la empresa: </strong> <a>{{data.oferta.empresa.nombre}}</a>
  <p></p>
  <strong>Descripcion: </strong> <a>{{data.oferta.descripcion}}</a>
  <p></p>
  <strong>Fecha publicacion: </strong> <a>{{data.oferta.fecha_publicacion}}</a>
  <p></p>
  <strong>Experiencia Requerida: </strong> <a>{{data.oferta.experiencia}}</a>
  <p></p>
  <strong>Años de experiencia: </strong> <a>{{data.oferta.anios_experiencia}}</a>
  <p></p>
  <strong>Numero de vacantes: </strong> <a>{{data.oferta.numero_vacantes}}</a>
  <p></p>
  <div *ngIf="data.oferta.ubicaciones">
    <strong>Ubicacion: </strong>
    <a>{{this.getStrUbicaciones(data.oferta.ubicaciones)}} </a>
    <p></p>
  </div>
  <strong>Salario: </strong>
  <a>{{data.oferta.salario ? 'Entre '+this.getSalario(data.oferta.salario.minimo) : 'No se especifica'}}
    {{data.oferta.salario ? ' y '+this.getSalario(data.oferta.salario.maximo) : 'No se especifica'}}
  </a>
  <p></p>
  <strong>Forma de pago: </strong>
  <a>{{data.oferta.salario ? data.oferta.salario.forma_pago : 'No se especifica'}}</a>
  <p></p>
  <div class="form-group">
    <strong for="numOfertas">Estado: </strong>
    <select [(ngModel)]="this.estadoActivacion" class="form-control" id="numOfertas">
      <option value="Pendiente">Pendiente</option>
      <option value="Aceptada">Aceptada</option>
      <option value="Rechazada">Rechazada</option>
    </select>
  </div>
  <p></p>
  <div *ngIf="this.estadoActivacion === 'Inactivar'" class="form-group">
    <strong for="exampleFormControlTextarea1">Motivos inhabilitacion:</strong>
    <textarea [(ngModel)]="this.motivoInactivacion" class="form-control" id="exampleFormControlTextarea1"
      rows="3"></textarea>
  </div>
</div>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-secondary m-1"
    mat-dialog-close>Cancelar</button>
        <button type="button" class="btn btn-primary"
        (click)="this.guardarCambio()" [mat-dialog-close]="true">Guardar</button>  
</mat-dialog-actions>