<mat-card>
  <mat-card-header>
    <mat-card-title>
      INFORMACIÓN PERSONAL
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="loading-shape">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <form *ngIf="!isLoadingResults">
      <div class="row">
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            [ngModel]="nombreCompleto"
            placeholder="Nombre Completo"
            name="name"
            #name
            disabled
          />
        </mat-form-field>
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            [ngModel]="egresado.grupoEtnico"
            placeholder="Grupo étnico"
            #grupoEtnico
            name="grupoEtnico"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            [ngModel]="egresado.estado"
            placeholder="Estado"
            name="estado"
            #estado
            disabled
          />
        </mat-form-field>
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            ngModel
            placeholder="Descapacidades"
            #grupoEtnico
            name="discapacidades"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            disabled
            name="identificacion"
            #identificacion
            placeholder="Identificación"
            [ngModel]="egresado.identificacion"
          />
        </mat-form-field>
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            disabled
            name="estadiCivil"
            #estadoCivil
            placeholder="Estado civil"
            [ngModel]="egresado.estadoCivil"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            disabled
            name="lugarExpedicion"
            #lugarExpedicion
            placeholder="Lugar de expedición"
            [ngModel]="egresado.identificacion"
          />
        </mat-form-field>

        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            disabled
            name="paisResidencia"
            #paisResidencia
            placeholder="País de residencia"
            [ngModel]="
              egresado.lugarResidencia?.ciudad.departamento.pais.nombre
            "
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            placeholder="País nacimiento"
            name="paisNacimiento"
            #paisNacimiento
            disabled
            [ngModel]="egresado.lugarNacimiento?.departamento.pais.nombre"
          />
        </mat-form-field>

        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            placeholder="Departamento residencia"
            name="departamentoResidencia"
            [ngModel]="egresado.lugarResidencia?.ciudad.departamento.nombre"
            disabled
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            placeholder="Departamento nacimiento"
            disabled
            name="departamentoNaciminto"
            [ngModel]="egresado.lugarNacimiento?.departamento.nombre"
          />
        </mat-form-field>

        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            placeholder="Municipio/Ciudad residencia"
            disabled
            name="municipioResidencia"
            [ngModel]="egresado.lugarResidencia?.ciudad.nombre"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            matInput
            placeholder="Municipio/Ciudad nacimiento"
            disabled
            name="ciudadNacimiento"
            [ngModel]="egresado.lugarNacimeinto?.nombre"
          />
        </mat-form-field>

        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            placeholder="Dirección residencia"
            disabled
            matInput
            name="direccionResidencia"
            [ngModel]="egresado.lugarResidencia?.direccion"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            placeholder="Género"
            disabled
            matInput
            name="genero"
            [ngModel]="egresado.genero"
          />
        </mat-form-field>

        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            placeholder="Correo electrónico"
            matInput
            name="correo"
            #correo
            required
            [(ngModel)]="egresado.correo"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            placeholder="Correo electrónico alternativo"
            matInput
            name="correoAlternativo"
            disabled
            [ngModel]="egresado.correoAlternativo"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            placeholder="Teléfono fijo"
            matInput
            name="telefono"
            disabled
            [ngModel]="egresado.telefonoFijo"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="form-group col-md-6">
          <input
            type="text"
            placeholder="Celular"
            matInput
            name="celular"
            disabled
            [ngModel]="egresado.celular"
          />
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
