<app-nav-egresados> </app-nav-egresados>
<mat-card *ngIf="egresadoObservable$ | async as egresado; else loading">
  <mat-toolbar color="primary">
    <span class="titulo">Mi Perfil</span>
  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Información personal</mat-panel-title>
        </mat-expansion-panel-header>
        <app-informacion-personal-ver-perfil [egresado]="egresado"></app-informacion-personal-ver-perfil>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Referencias personales</mat-panel-title>
      </mat-expansion-panel-header>
      <!--app-refencia-personal [referidos]="egresado.referenciasPersonales"> </app-refencia-personal-->
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Experiencia laboral</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Grados</mat-panel-title>
      </mat-expansion-panel-header>
      <app-grado-ver-perfil [egresado]="egresado"></app-grado-ver-perfil>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
