<app-nav-egresados> </app-nav-egresados>
<mat-card>
  <mat-toolbar color="primary">
    <span class="titulo">Actualizar Información</span>
  </mat-toolbar>
  <mat-horizontal-stepper [linear]="isLinear" class="stepper">
    <mat-step>
      <ng-template matStepLabel>Información personal</ng-template>
      <mat-label>Discapacidad:</mat-label>
      <!--mat-checkbox [value]="discapacidad.idDiscapacidad" *ngFor="let discapacidad of discapacidades" [(ngModel)]="checked">{{discapacidad.Nombre}}
      </mat-checkbox-->
      <mat-checkbox *ngFor="let discapacidad of pruebas">{{discapacidad}}</mat-checkbox>
      <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
        <mat-label>¿Cuál?</mat-label>
        <input matInput type="text" placeholder="¿Cuál?" [(ngModel)]="value">
      </mat-form-field>
      <div class="row card-layout">
        <div class="card-column-1">
          <div class="column">
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Estado civil</mat-label>
                <mat-select [(ngModel)]="item">
                  <mat-option [value]="item" *ngFor="let item of estadosCiviles">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="text" placeholder="Correo electrónico" [(ngModel)]="value">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Correo electrónico alterno</mat-label>
                <input matInput type="text" placeholder="Correo electrónico alterno" [(ngModel)]="value">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Celular</mat-label>
                <input matInput type="text" placeholder="Celular" [(ngModel)]="value">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Telefono fijo</mat-label>
                <input matInput type="text" placeholder="Telefono fijo" [(ngModel)]="value">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="card-column-2">
          <div class="column">
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Pais residencia</mat-label>
                <mat-select [(ngModel)]="item">
                  <mat-option [value]="item" *ngFor="let item of pruebas">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Departamento residencia</mat-label>
                <mat-select [(ngModel)]="item">
                  <mat-option [value]="item" *ngFor="let item of pruebas">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Municipio/ciudad residencia</mat-label>
                <mat-select [(ngModel)]="item">
                  <mat-option [value]="item" *ngFor="let item of pruebas">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Dirección residencia</mat-label>
                <input matInput type="text" placeholder="Dirección residencia" [(ngModel)]="value">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="botones">
        <button class="atras" mat-button mat-raised-button (click)="irPerfil()">Atrás</button>
        <button color="primary" class="siguiente" mat-button mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Información personal</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>