<app-nav-egresados> </app-nav-egresados>
<mat-card>
  <mat-toolbar color="primary">
    <span class="titulo">Actualizar Información</span>
  </mat-toolbar>
  <mat-horizontal-stepper [linear]="isLinear" class="stepper">
    <mat-step>
      <ng-template matStepLabel>Información personal</ng-template>
      <mat-label>Discapacidad:</mat-label>
      <!--mat-checkbox [value]="discapacidad.idDiscapacidad" *ngFor="let discapacidad of discapacidades" [(ngModel)]="checked">{{discapacidad.Nombre}}
      </mat-checkbox-->
      <mat-checkbox *ngFor="let discapacidad of pruebas">{{discapacidad}}</mat-checkbox>
      <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
        <mat-label>¿Cuál?</mat-label>
        <input matInput type="text" placeholder="¿Cuál?" [(ngModel)]="value">
      </mat-form-field>
      <div class="row card-layout">
        <div class="card-column-1">
          <div class="column">
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Estado civil</mat-label>
                <mat-select [(ngModel)]="item">
                  <mat-option [value]="item" *ngFor="let item of estadosCiviles">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="text" placeholder="Correo electrónico" [(ngModel)]="value">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Correo electrónico alterno</mat-label>
                <input matInput type="text" placeholder="Correo electrónico alterno" [(ngModel)]="value">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Celular</mat-label>
                <input matInput type="text" placeholder="Celular" [(ngModel)]="value">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Telefono fijo</mat-label>
                <input matInput type="text" placeholder="Telefono fijo" [(ngModel)]="value">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="card-column-2">
          <div class="column">
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Pais residencia</mat-label>
                <mat-select [(ngModel)]="item">
                  <mat-option [value]="item" *ngFor="let item of pruebas">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Departamento residencia</mat-label>
                <mat-select [(ngModel)]="item">
                  <mat-option [value]="item" *ngFor="let item of pruebas">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Municipio/ciudad residencia</mat-label>
                <mat-select [(ngModel)]="item">
                  <mat-option [value]="item" *ngFor="let item of pruebas">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                <mat-label>Dirección residencia</mat-label>
                <input matInput type="text" placeholder="Dirección residencia" [(ngModel)]="value">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <button class="botones" mat-button mat-raised-button (click)="irPerfil()">Atrás</button>
      <button class="botones" color="primary" mat-button mat-raised-button matStepperNext>Siguiente</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Referencias Personales</ng-template>
      <app-referido #referido (darReferido)="addToList($event)"></app-referido>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataReferidos">
          <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
          </ng-container>
          <ng-container matColumnDef="parentesco">
            <th mat-header-cell *matHeaderCellDef> Parentesco </th>
            <td mat-cell *matCellDef="let element"> {{element.parentesco}} </td>
          </ng-container>
          <ng-container matColumnDef="telefono_movil">
            <th mat-header-cell *matHeaderCellDef> Celular </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono_movil}} </td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button class="btn" mat-icon-button matSuffix (click)="visualizar(element)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button class="btn-danger" mat-icon-button matSuffix (click)="eliminarReferido(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      <button class="botones" mat-button mat-raised-button matStepperPrevious>Atrás</button>
      <button class="botones" color="primary" mat-button mat-raised-button matStepperNext (click)="validarSigReferido()">Siguiente</button>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>