<h2 mat-dialog-title>Editar apoyo</h2>
<mat-dialog-content>
  <form novalidate (onSubmit)="onSubmit()" #frmEditarApoyo="ngForm">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-group col-md-4">
        <mat-label>Nombres</mat-label>
        <input
          matInput
          #nombre="ngModel"
          name="nombre"
          type="text"
          [(ngModel)]="apoyo.nombres"
          required
          placeholder="Nombres"
          letter
        />
        <mat-error
          *ngIf="
            nombre.invalid &&
            (nombre.dirty || nombre.touched) &&
            nombre.errors.required
          "
        >
          Campo requerido
        </mat-error>
        <mat-error
          *ngIf="nombre.invalid && nombre.touched && nombre.hasError('letter')"
        >
          El campo solo admite letras
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group col-md-4">
        <mat-label>Apellidos</mat-label>
        <input
          matInput
          #apellido="ngModel"
          name="apellido"
          placeholder="Apellidos"
          type="text"
          [(ngModel)]="apoyo.apellidos"
          required
          letter
        />
        <mat-error
          *ngIf="
            apellido.invalid &&
            (apellido.dirty || apellido.touched) &&
            apellido.errors.required
          "
        >
          Campo requerido
        </mat-error>
        <mat-error
          *ngIf="apellido.invalid && apellido.touched && apellido.hasError('letter')"
        >
          El campo solo admite letras
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group col-md-4">
        <mat-label>Rol apoyo</mat-label>
        <input
          matInput
          #nombreRol="ngModel"
          placeholder="Rol apoyo"
          name="nombreRol"
          type="text"
          [(ngModel)]="apoyo.nombreRol"
          required
          letter
        />
        <mat-error
          *ngIf="
            nombreRol.invalid &&
            (nombreRol.dirty || nombreRol.touched) &&
            nombreRol.errors.required
          "
        >
          Campo requerido
        </mat-error>
        <mat-error
          *ngIf="nombreRol.invalid && nombreRol.touched && nombreRol.hasError('letter')"
        >
          El campo solo admite letras
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-group col-md-6">
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          type="email"
          #email="ngModel"
          name="email"
          required
          [(ngModel)]="apoyo.correo"
          placeholder="Correo"
          pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          *ngIf="
            email.invalid &&
            (email.dirty || email.touched) &&
            email.errors.required
          "
        >
          Campo requerido
        </mat-error>
        <mat-error
          *ngIf="
            email.invalid &&
            (email.dirty || email.touched) &&
            email.errors.pattern
          "
        >
          Debe ingresaro un correo válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-group col-md-6">
        <mat-label>Correo electrónico secundario</mat-label>
        <input
          matInput
          type="email"
          #emailSecundariod="ngModel"
          name="emailSecundariod"
          [(ngModel)]="apoyo.correoSecundario"
          placeholder="Correo secundario"
          pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          *ngIf="
            emailSecundariod.invalid &&
            (emailSecundariod.dirty || emailSecundariod.touched) &&
            emailSecundariod.errors.pattern
          "
        >
          Debe ingresaro un correo válido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-group col-md-5">
        <mat-label>Servicios</mat-label>
        <mat-select name="servicio" [(ngModel)]="servicioSeleccionado">
          <mat-option *ngFor="let servicio of servicios" [value]="servicio">
            {{ servicio.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        type="button"
        mat-mini-fab
        color="primary"
        class="col-md-1"
        (click)="agregarServicio()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <mat-form-field appearance="outline" class="col-md-6 form-group">
        <mat-label>Servicios seleccionados</mat-label>
        <mat-chip-list #chipList matInput>
          <mat-chip
            *ngFor="let servicio of apoyo?.servicios"
            [removable]="true"
            (removed)="eliminarServicio(servicio)"
          >
            {{ servicio.nombre }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <mat-error *ngIf="apoyo.servicios.length">
          Debe seleccionar un servicio.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <div class="col-md-6 form-group">
        <label id="example-radio-group-label">Estado</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="estadoSeleccionado"
          #estado="ngModel"
          name="estado"

        >
          <mat-radio-button
            class="example-radio-button"
            [checked]="estadoSeleccionado == estado.value"
            *ngFor="let estado of estados"
            [value]="estado.value"
          >
            {{ estado.nombre }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <mat-dialog-actions class="align-center" align="center">
      <button
        type="button"
        mat-raised-button
        class="btn btn-danger"
        (click)="cancelar(frmEditarApoyo)"
      >
        Cancelar
      </button>
      <button
        type="submit"
        mat-raised-button
        [disabled]="
          isSaving ||
          !(
            nombre.valid &&
            apellido.valid &&
            nombreRol.valid &&
            email.valid &&
            emailSecundariod.valid
          )
        "
        color="primary"
        class="btn"
      >
        Guardar
      </button>
      <div
        class="spinner-grow text-danger ml-2 mt-2"
        role="status"
        *ngIf="isSaving"
      >
        <span class="sr-only">Guardando...</span>
      </div>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
