<app-header></app-header>
<app-navbar-empresa [id]="id"></app-navbar-empresa>
<div class="overlay" *ngIf="showSpinner">
    <div class="center">
        <mat-progress-spinner diameter=50 
                              mode="indeterminate" 
                             >
        </mat-progress-spinner> 
    </div>
</div>
<mat-card class="carta-registro">

    <mat-card-header class="headerCartaRegistro">
        <!--<mat-card-title>
            Registre su empresa
        </mat-card-title>-->
        <mat-toolbar color="primary">
            <span>Datos de la empresa</span>
        </mat-toolbar>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form id="registro" [formGroup]="formDatosEmpresa" (ngSubmit)="modificarEmpresa(formDatosEmpresa)">
            <mat-horizontal-stepper #stepper>
                <mat-step formGroupName="datos-cuenta" [stepControl]="formDatosEmpresa.get('datos-cuenta')"
                    label="Cuenta">
                    <div class="Subtitulos-card">
                        <p class="text-center"><b>Cuenta</b></p>
                        <mat-divider [inset]="true"></mat-divider>
                    </div>
                    <div class="cartaCuenta">
                        <mat-form-field class="full-width" floatLabel="auto" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput required>
                            <mat-error *ngIf="formDatosEmpresa.get('datos-cuenta').controls.email.errors?.required">campo
                                requerido</mat-error>
                            <mat-error *ngIf="formDatosEmpresa.get('datos-cuenta').controls.email.errors?.EmailExiste">
                                Usted ya posee una cuenta</mat-error>
                            <mat-error *ngIf="formDatosEmpresa.get('datos-cuenta').controls.email.errors?.pattern">Digite
                                un correo valido. ej: ejemplo@gmail.com</mat-error>
                        </mat-form-field>

                    </div>
                    <div class="botonesStepper">
                        <button (click)="cancelarModificar()" mat-raised-button color="primary">Cancelar</button>
                        <button mat-raised-button type="submit" color="primary">Guardar y Finalizar</button>
                    </div>
                </mat-step>

                <mat-step formGroupName="datos-generales-empresa"
                    [stepControl]="formDatosEmpresa.get('datos-generales-empresa')" label="Datos de empresa">
                    <div class="container">
                        <div class="Subtitulos-card">
                            <p class="text-center"><b>Datos de su empresa</b></p>
                            <mat-divider [inset]="true"></mat-divider>
                        </div>
                        <div class="row centrarContenidoRow">
                            <mat-form-field floatLabel="auto" readonly appearance="outline"
                                hintLabel="Modificable solo por administrador">
                                <mat-label>NIT</mat-label>
                                <input type="number" formControlName="NIT" readonly #input matInput minlength="8"
                                    maxlength="15" required>
                                <mat-error
                                    *ngIf="formDatosEmpresa.get('datos-generales-empresa').controls.NIT.errors?.required">
                                    campo requerido</mat-error>
                                <mat-error
                                    *ngIf="formDatosEmpresa.get('datos-generales-empresa').controls.NIT.errors?.minlength">
                                    minimo 8 caracteres</mat-error>
                                <mat-error
                                    *ngIf="formDatosEmpresa.get('datos-generales-empresa').controls.NIT.errors?.maxlength">
                                    maximo 15 caracteres</mat-error>
                            </mat-form-field>
                            <mat-form-field floatLabel="auto" readonly appearance="outline"
                                hintLabel="Modificable solo por administrador">
                                <mat-label>Razón Social</mat-label>
                                <input formControlName="razonSocial" readonly matInput>
                            </mat-form-field>
                            <mat-form-field floatLabel="auto" appearance="outline">
                                <mat-label>Nombre Empresa</mat-label>
                                <input formControlName="nombreEmpresa" matInput required>
                                <mat-error
                                    *ngIf="formDatosEmpresa.get('datos-generales-empresa').controls.nombreEmpresa.errors?.required">
                                    campo requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row centrarContenidoRow">

                            <mat-form-field readonly floatLabel="auto" appearance="outline"
                                hintLabel="Modificable solo por administrador">
                                <mat-label>Año de creación</mat-label><input type="number" readonly matInput
                                    formControlName="anioCreacion">
                            </mat-form-field>
                            <mat-form-field floatLabel="auto" appearance="outline" hideRequiredMarker>
                
                                <input matInput formControlName="numEmpleados">
                                <mat-label>Número de empleados</mat-label>
                                <mat-error
                                    *ngIf="formDatosEmpresa.get('datos-generales-empresa').controls.numEmpleados.errors?.required">
                                    campo requerido</mat-error>
                                <mat-error
                                    *ngIf="formDatosEmpresa.get('datos-generales-empresa').controls.numEmpleados.errors?.min">
                                    minimo 0</mat-error>
                            </mat-form-field>

                            <mat-form-field floatLabel="auto" appearance="outline" hideRequiredMarker>
                                <mat-select id="selectIngresos" formControlName="ingresosEmp">
                                    <mat-option value="0 - 3.000.000">0 - 3.000.000</mat-option>
                                    <mat-option value="3.000.001 - 10.000.000">3.000.001 - 10.000.000</mat-option>
                                    <mat-option value="10.000.001 - 25.000.000">10.000.001 - 25.000.000</mat-option>
                                    <mat-option value="25.000.001 - 50.000.000">25.000.001 - 50.000.000</mat-option>
                                    <mat-option value="50.000.001 - 100.000.000">50.000.001 - 100.000.000</mat-option>
                                    <mat-option value="más de 100.000.000">más de 100.000.000</mat-option>
                                </mat-select>
                                <mat-label>Ingresos de la empresa</mat-label>
                            </mat-form-field>
                        </div>
                        <div class="row centrarContenidoRow">
                            <div class="col-9 no-padding">
                                <mat-form-field floatLabel="auto" class="full-width" appearance="outline">
                                    <textarea matInput formControlName="descripcionEmpresa" required></textarea>
                                    <mat-error
                                        *ngIf="formDatosEmpresa.get('datos-generales-empresa').controls.descripcionEmpresa.errors?.required">
                                        campo requerido</mat-error>
                                    <mat-label>Descripción de la empresa</mat-label>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="botonesStepper">
                        <button (click)="cancelarModificar()" mat-raised-button color="primary">Cancelar</button>


                        <button mat-raised-button type="submit" color="primary">Guardar y Finalizar</button>
                    </div>
                </mat-step>

                <mat-step formGroupName="sectores" [stepControl]="formDatosEmpresa.get('sectores')" label="Sectores">
                    <div>
                        <p class="text-center"><b>Seleccione los datos de su interés</b></p>
                        <mat-divider [inset]="true"></mat-divider>
                    </div>
                    <div class="row">
                        <div class="col-6 example-container">
                            <!--Acordeon que contiene la lista desplegable-->
                            <mat-accordion>
                                <!--Lista desplegable-->
                                <mat-expansion-panel *ngFor="let sector of sectoresInteresEmpresa">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ sector.Nombre }}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <!--Contenido-->
                                    <mat-action-list dense *ngFor="let subSector of sector.subSectores">
                                        <button type="button" mat-list-item value="{{subSector.Nombre}}"
                                            (click)="seleccionarSubSector(sector, subSector)"> {{ subSector.Nombre }}
                                            <mat-icon matListIcon>add</mat-icon>
                                        </button>
                                    </mat-action-list>
                                    <!--Fin contenido-->
                                </mat-expansion-panel>
                                <!--Fin Lista desplegable-->
                            </mat-accordion>
                        </div>
                        <div class="col-6 example-container">
                            <mat-error *ngIf="formDatosEmpresa.get('sectores').controls.subsectores.errors?.required">
                                *Seleccione sus areas de interés</mat-error>
                            <mat-nav-list>
                                <mat-list-item *ngFor="let subSector of subSecEscogidos">
                                    <button type="button" mat-icon-button
                                        (click)="eliminarSubSectorEscogido(subSector)">{{ subSector.Nombre }}<mat-icon
                                            matListIcon>close</mat-icon></button>
                                </mat-list-item>
                            </mat-nav-list>
                        </div>
                    </div>
                    <div class="botonesStepper">
                        <button (click)="cancelarModificar()" mat-raised-button color="primary">Cancelar</button>

                        <button mat-raised-button type="submit" color="primary">Guardar y Finalizar</button>
                    </div>
                </mat-step>

                <mat-step formGroupName="loc-contact-empresa"
                    [stepControl]="formDatosEmpresa.get('loc-contact-empresa')" label="Localización">
                    <div class="Subtitulos-card">
                        <p class="text-center"><b>Localización de su empresa</b></p>
                        <mat-divider [inset]="true"></mat-divider>
                    </div>
                    <div class="text-center">
                        <p>Ubicacion de su empresa</p>
                    </div>
                    <div class="row centrarContenidoRow">
                        <mat-form-field floatLabel="auto" readonly appearance="outline"
                            hintLabel="Modificable solo por administrador">
                            <mat-label>País</mat-label><input readonly matInput formControlName="paisEmp">
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" readonly appearance="outline"
                            hintLabel="Modificable solo por administrador">
                            <mat-label>Departamento</mat-label><input readonly matInput
                                formControlName="departamentoEmp">
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" readonly appearance="outline"
                            hintLabel="Modificable solo por administrador">
                            <mat-label>Ciudad</mat-label><input readonly matInput formControlName="ciudadEmp">
                        </mat-form-field>
                    </div>
                    <div class="row centrarContenidoRow">
                        <mat-form-field floatLabel="auto" readonly appearance="outline"
                            hintLabel="Modificable solo por administrador">
                            <mat-label>Dirección de la empresa</mat-label>
                            <input formControlName="direccionEmp" readonly matInput required>
                            <mat-error
                                *ngIf="formDatosEmpresa.get('loc-contact-empresa').controls.direccionEmp.errors?.required">
                                campo requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" readonly appearance="outline"
                            hintLabel="Modificable solo por administrador">
                            <mat-label>Barrio/Localidad</mat-label>
                            <input formControlName="barrioEmp" readonly matInput required>
                            <mat-error
                                *ngIf="formDatosEmpresa.get('loc-contact-empresa').controls.barrioEmp.errors?.required">
                                campo requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                            <mat-label>Código Postal</mat-label>
                            <input matInput maxlength="5" type="number" formControlName="codigoPostalEmp">
                            <mat-error
                                *ngIf="formDatosEmpresa.get('loc-contact-empresa').controls.codigoPostalEmp.errors?.min">
                                No hay codigo postal negativo</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="text-center">
                        <p>Contacto de su empresa</p>
                    </div>
                    <div class="row centrarContenidoRow">
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>Teléfono de la empresa</mat-label>
                            <input type="number" formControlName="telefonoEmp" matInput>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                            <mat-label>E-mail de la empresa</mat-label>
                            <input formControlName="emailEmp" matInput>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                            <mat-label>Sitio Web</mat-label>
                            <input formControlName="sitioWebEmp" matInput>
                            <mat-error
                                *ngIf="formDatosEmpresa.get('loc-contact-empresa').controls.sitioWebEmp.errors?.pattern">
                                El formatio del sitio web es erroneo</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="botonesStepper">
                        <button (click)="cancelarModificar()" mat-raised-button color="primary">Cancelar</button>
                        <button mat-raised-button type="submit" color="primary">Guardar y Finalizar</button>
                    </div>
                </mat-step>

                <mat-step formGroupName="datos-resp" [stepControl]="formDatosEmpresa.get('datos-resp')"
                    label="Datos de contacto">
                    <div class="Subtitulos-card">
                        <p class="text-center"><b>Datos de contacto</b></p>
                        <mat-divider [inset]="true"></mat-divider>
                    </div>
                    <div class="text-center">
                        <p>Datos del representante legal</p>
                    </div>
                    <div class="row centrarContenidoRow">
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>Nombres</mat-label>
                            <input formControlName="nombrereplegal" matInput required>
                            <mat-error
                                *ngIf="formDatosEmpresa.get('datos-resp').controls.nombrereplegal.errors?.required">
                                campo requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>Apellidos</mat-label>
                            <input formControlName="apellidoreplegal" matInput required>
                            <mat-error
                                *ngIf="formDatosEmpresa.get('datos-resp').controls.apellidoreplegal.errors?.required">
                                campo requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                            <mat-label>Teléfono</mat-label>
                            <input type="number" formControlName="telefonoreplegal" matInput>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>Teléfono móvil</mat-label>
                            <input type="number" formControlName="telefonoMovilreplegal" matInput required>
                            <mat-error
                                *ngIf="formDatosEmpresa.get('datos-resp').controls.telefonoMovilreplegal.errors?.required">
                                campo requerido</mat-error>
                        </mat-form-field>

                    </div>
                    <div class="text-center">
                        <p>Datos del administrador de la cuenta</p>
                    </div>
                    <div class="row centrarContenidoRow">
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>Nombres</mat-label>
                            <input formControlName="nombreResp" matInput required>
                            <mat-error *ngIf="formDatosEmpresa.get('datos-resp').controls.nombreResp.errors?.required">
                                campo requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>Apellidos</mat-label>
                            <input formControlName="apellidoResp" matInput required>
                            <mat-error
                                *ngIf="formDatosEmpresa.get('datos-resp').controls.apellidoResp.errors?.required">
                                campo requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>Cargo</mat-label>
                            <mat-select formControlName="cargo">
                                <mat-option *ngFor="let cargo of cargos" [value]="cargo.Nombre">
                                    {{cargo.Nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formDatosEmpresa.get('datos-resp').controls.cargo.errors?.required">
                                campo requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                            <mat-label>Teléfono</mat-label>
                            <input type="number" formControlName="telefonoResp" matInput>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>Teléfono móvil</mat-label>
                            <input type="number" formControlName="telefonoMovilResp" matInput required>
                            <mat-error
                                *ngIf="formDatosEmpresa.get('datos-resp').controls.telefonoMovilResp.errors?.required">
                                campo requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                            <mat-label>Horario contacto</mat-label>
                            <input formControlName="horarioContactoResp" matInput>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>Dirección de trabajo</mat-label>
                            <input formControlName="direccionTrabajoResp" matInput required>
                            <mat-error
                                *ngIf="formDatosEmpresa.get('datos-resp').controls.direccionTrabajoResp.errors?.required">
                                campo requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>E-mail personal corporativo</mat-label>
                            <input formControlName="emailCorpResp" matInput required>
                            <mat-error
                                *ngIf="formDatosEmpresa.get('datos-resp').controls.emailCorpResp.errors?.required">
                                campo requerido</mat-error>
                            <mat-error *ngIf="formDatosEmpresa.get('datos-resp').controls.emailCorpResp.errors?.email">
                                Digite
                                un
                                correo valido. ej: ejemplo@gmail.com</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="botonesStepper">
                        <button (click)="cancelarModificar()" mat-raised-button color="primary">Cancelar</button>

                        <button mat-raised-button type="submit" color="primary">Modificar</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
            <div *ngIf="mensajesError.length > 0" class="alert alert-danger animated fadeIn">
                <mat-error *ngFor="let mensaje of mensajesError">
                    {{mensaje}}
                </mat-error>
            </div>
        </form>
    </mat-card-content>
</mat-card>
