<app-header></app-header>
<app-navbar-home-ofertas></app-navbar-home-ofertas>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Columna Fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha publicacion </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_publicacion}} </td>
    </ng-container>

    <!-- Columna Cargo -->
    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef> Cargo </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_cargo}} </td>
    </ng-container>

    <!-- Columna Vacante -->
    <ng-container matColumnDef="vacantes">
      <th mat-header-cell *matHeaderCellDef> Vacantes </th>
      <td mat-cell *matCellDef="let element"> {{element.numero_vacantes}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>