<h1 mat-dialog-title>Información de contacto</h1>
<hr>
<div mat-dialog-content>
    <!--p>Para cualquier duda o inquietud, comuníquese a los siguientes contactos:</p-->
    <div class="text-center">
        <p><strong>Area de Egresados Universidad del Cauca</strong></p>
        <p><strong>Teléfono: </strong> (+57 2) 8209900 Ext. 1431 </p>
        <p><strong>Correo electrónico: </strong>egresados@unicauca.edu.co</p>
        <p><strong>Dirección: </strong>Calle 5 Nº 4 - 70
            Centro Histórico - Santo Domingo.</p>
        <label>Popayán - Colombia</label>
    </div>
</div>
<hr>
<mat-dialog-actions align="end">
    <!--button type="button" class="btn btn-secondary m-1"
      mat-dialog-close>Cancelar</button-->
    <button type="button" class="btn btn-primary" [mat-dialog-close]="true">Cerrar</button>
</mat-dialog-actions>