nav{
    display: block;
    z-index: 9;
}

.nav-text {
    line-height:20px;
    font-size:45px;
    vertical-align:middle;
    margin-right: 15px;    
}

a:not([href]){
    color: #007bff;
    color:#3f51b5;       
}