<nav id="navBar" class="navbar navbar-light bg-light shadow border-bottom sticky-top">
  <div class="row">
    <ul class="nav col-6">
      <li class="nav-item">
        <a class="nav-link active" type="button" (click)="onIncio()">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="onMisOfertas()">Mis Ofertas Laborales</a>
      </li>
      <!--li class="nav-item">
        <a class="nav-link"  [routerLink]="['empresa/38/crearOfertaLaboral']">Publicar Oferta Laboral</a>
      </li-->
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="onPublicarOferta()">Publicar Oferta Laboral</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button">Contacto </a>
      </li>
    </ul>
    <ul class="nav justify-content-end col-6">
      <li class="nav-item">
        <a class="nav-link active" role="button" (click)="onPerfil()">
          <mat-icon class="nav-text" matListIcon>account_box</mat-icon>
          Mi Perfil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>