<nav id="navBar" class="navbar navbar-light bg-light shadow border-bottom sticky-top">
  <div class="row">
    <ul class="nav col-6">
      <li class="nav-item">
        <a class="nav-link active" role="button" (click)="onIncio()">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="onMisOfertas()">Mis Ofertas Laborales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="onPublicarOferta()">Publicar Oferta Laboral</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="onMiHistorialOfertas()">Mi historial de ofertas</a>
      </li>
    </ul>
  </div>
</nav>