<app-header></app-header>
<app-navbar-empresa [id]="id"></app-navbar-empresa>
<div class="container mt-4 mb-3" role="main">
  <h2 class="text-primary">Lista de postulados:</h2>
  <p></p>
  <div *ngIf="!auxiliar" class="row">
    <h3 class="text-centered px-3"> Cargando postulados...</h3>
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"> Loading...</span>
    </div>
  </div>
  <h3 *ngIf="arregloVacio" class="text-centered"> No se encontraron postulados </h3>
  <div *ngIf="!arregloVacio" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Columna Identificacion -->
      <ng-container matColumnDef="Identificacion">
        <th mat-header-cell *matHeaderCellDef> Identificacion </th>
        <td mat-cell *matCellDef="let element"> {{element.idEgresado}} </td>
      </ng-container>

      <!-- Columna Nombres -->
      <ng-container matColumnDef="Nombres">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
      </ng-container>

      <!-- Columna Apellidos -->
      <ng-container matColumnDef="Apellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="setPostuladoActual(element)">Ver Información</button>
          </td>
        </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<!--div>
  <h2 class="text-center my-2"><b>Lista de postulados</b></h2>
  <mat-divider [inset]="true"></mat-divider>
</div>
<div class="row mx-4">
  <div class="col-6">
    <h3 class="text-center">Postulados</h3>    
    <h3 *ngIf="this.listaPostulados.length === 0" class="text-centered"> No se encontraron postulados </h3>
    
    <mat-action-list dense *ngFor="let postulado of listaPostulados">
      <button class="btn btn-outline-primary" type="button" mat-list-item value="{{postulado.nombres}}" (click)="seleccionarPostulado(postulado)">
        {{ postulado.nombres +' '+postulado.apellidos+''}} <hr>
        <a href="" data-toggle="modal" data-target="#exampleModalScrollable" (click)="setPostuladoActual(postulado)">
          Ver Informacion</a>
        <mat-icon matListIcon>add</mat-icon>
      </button>
    </mat-action-list>

  </div>
  <div class="col-6 ">
    <h3 class="text-center">Seleccionados</h3>
    <h3 *ngIf="this.listaPostuladosEscogidos.length === 0" class="text-centered"> No se encontraron postulados seleccionados </h3>
    
      <mat-action-list  *ngFor="let postulado of listaPostuladosEscogidos">
        <button  class="btn btn-outline-success" type="button" mat-list-item (click)="desseleccionarPostulado(postulado)">{{ postulado.nombres+' '+postulado.apellidos }}
          <mat-icon matListIcon>close</mat-icon></button>
      </mat-action-list >
    
  </div>
</div-->



<!--div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Informacion del postulado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>Identificación de postulado: </strong> <a>{{this.postuladoSeleccionado.idEgresado}}</a>
        <p></p>
        <strong>Nombre: </strong> <a>{{this.postuladoSeleccionado.nombres}}</a>
        <p></p>
        <strong>Apellidos: </strong> <a>{{this.postuladoSeleccionado.apellidos}}</a>
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="reiniciarSeleccion()"
          data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div-->