<app-header></app-header>
<app-navbar-empresa [id]="id"></app-navbar-empresa>
<div class="container mt-4 mb-3" role="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="this.nombreOferta" class="justify-content-center">
      Lista de postulados para "{{this.nombreOferta}}"
    </mat-toolbar-row>
  </mat-toolbar>
  <p></p>
  <div *ngIf="!auxiliar" class="row">
    <h3 class="text-centered px-3"> Cargando postulados...</h3>
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"> Loading...</span>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <mat-form-field>
        <mat-label>Filtrar por:</mat-label>
        <mat-select [(value)]="filtroEstado" (selectionChange)="filtrar()">
          <mat-option value="Todos">Todos</mat-option>
          <mat-option value="Contratado">Contratado</mat-option>
          <mat-option value="Bueno">Bueno</mat-option>
          <mat-option value="Muy Bueno">Muy Bueno</mat-option>
          <mat-option value="Descartado">Descartado</mat-option>
          <mat-option value="Desistió">Desistió</mat-option>
          <mat-option value="Sin clasificación">Sin clasificación</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <h3 *ngIf="arregloVacio" class="text-centered"> No se encontraron postulados </h3>
  <div *ngIf="!arregloVacio" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Columna Identificacion -->
      <ng-container matColumnDef="Identificacion">
        <th mat-header-cell *matHeaderCellDef> Identificación </th>
        <td mat-cell *matCellDef="let element"> {{element.idEgresado}} </td>
      </ng-container>

      <!-- Columna Nombres -->
      <ng-container matColumnDef="Nombres">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
      </ng-container>

      <!-- Columna Apellidos -->
      <ng-container matColumnDef="Apellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
      </ng-container>

      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element">
          <div [class.rojo]="element.estado === 'Descartado'">
            {{element.estado}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="setPostuladoActual(element)">Ver Información</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <br>
  
  <div class="text-right">
    <button type="button" mat-raised-button color="primary" (click)="this.previousState()">Atrás</button>
  </div>
</div>
