<app-header></app-header>
<app-navbar-home-ofertas></app-navbar-home-ofertas>

<div class="container mt-4 mb-3" role="main">    
  <h2 class="text-primary">Solicitudes de aprobación de empresas:</h2><p></p>
  <div *ngIf="!auxiliar" class="row">
    <h3 class="text-centered px-3"> Cargando Solicitudes... </h3>
    <div class="spinner-border text-primary pl-3" role="status">
      <span class="sr-only">  Loading...</span>
    </div>
  </div>
  <h3 *ngIf="arregloVacio" class="text-centered"> No se encontraron solicitudes </h3>
  
  <div *ngIf="!arregloVacio" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>


      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha_registro}} </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{getEstado(element.estado)}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element"><a href="" data-toggle="modal" data-target="#exampleModalScrollable"
            (click)="setSolicitudActual(element.id_aut_empresa)">
            Ver Informacion</a></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

<!-- Modal -->
  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Informacion De La Empresa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <strong>Nombre de la empresa: </strong> <a>{{this.solicitudSeleccionada.nombre}}</a>
          <p></p>
          <strong>NIT: </strong> <a>{{this.solicitudSeleccionada.nit}}</a>
          <p></p>
          <strong>Año de creación: </strong> <a>{{this.solicitudSeleccionada.anio_creacion}}</a>
          <p></p>
          <strong>Razon social: </strong> <a>{{this.solicitudSeleccionada.razon_social}}</a>
          <p></p>
          <strong>Sitio Web: </strong> <a
            href={{this.solicitudSeleccionada.sitio_web}}>{{this.solicitudSeleccionada.sitio_web}}</a>
          <p></p>
          <strong>Numero de empleados: </strong> <a>{{this.solicitudSeleccionada.numero_empleados}}</a>
          <p></p>
          <strong>Fecha de registro: </strong> <a>{{this.solicitudSeleccionada.fecha_registro}}</a>
          <p></p>
          <strong>Estado: </strong> <a>{{getEstado(this.solicitudSeleccionada.estado)}}</a>
          <p></p>
          <div class="form-group">
            <strong for="numOfertas">Numero de publicaciones permitidas: </strong>
            <p></p>
            <input [(ngModel)]="seleccionNumOfertas" type="number" class="form-control" 
            placeholder="Debe ingresar un numero para activar" (change)="activacionValida()"
            (keyup)="activacionValida()"
            required>
            <!-- ****Codigo opcional para seleccionar numero de publicaciones**** -->
            <!--select class="form-control" id="numOfertas" [(ngModel)]="seleccionNumOfertas"
              (change)="activacionValida()">
              <option selected="true" value=0>Seleccine un numero para activar</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select-->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="reiniciarSeleccion()"
            data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" *ngIf="seleccionValida"
            (click)="activarEmpresa(solicitudSeleccionada)" data-dismiss="modal">Activar</button>
          <button type="button" class="btn btn-primary" (click)="desactivarEmpresa(solicitudSeleccionada)"
            data-dismiss="modal">Rechazar</button>
        </div>
      </div>
    </div>
  </div>
</div>
